@media (max-width: 320px) {
  img {
    max-width: 100%;
  }
}
.container {
  *zoom: 1;
  max-width: 56em;
  _width: 56em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56em) {
  .container {
    max-width: 56em;
  }
}
@media (max-width: 320px) {
  .container {
    width: 18em;
    overflow-x: none;
  }
}

.grid_1 {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_1 {
  margin-left: 20em;
}

.grid_2 {
  width: 64.28571%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_2 {
  margin-left: 40em;
}

.grid_3 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_3 {
  margin-left: 60em;
}

.row {
  overflow: hidden;
  *zoom: 1;
}
.row .grid_1:last-child {
  margin-right: 0;
}
.row .grid_1.notlast {
  float: left !important;
}
.row .grid_2:last-child {
  margin-right: 0;
}
.row .grid_2.notlast {
  float: left !important;
}
.row .grid_3:last-child {
  margin-right: 0;
}
.row .grid_3.notlast {
  float: left !important;
}

@media (max-width: 320px) {
  .container {
    max-width: 50em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .grid_1 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_2 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_3 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }
}
