/* ===========================
 * Colour Pallet
 * =========================== */
/* ===========================
 * Fonts
 * =========================== */
/* ===========================
 * Sprite sheets
 * =========================== */
.sprites-sprite, .sprites-down_arrow, .sprites-external_arrow, .sprites-external_arrow_blue, .sprites-menu-collapse, .sprites-menu-open, .sprites-salt, .sprites-salted-herring, .sprites-saltshaker, .external:before, #logo a, .menu-open, .mobile #menu_icon, .mobile #menu_icon.collapse, .mobile #menu_icon.expand, footer .salt span:after, footer .salt span:before, #nextnav a:before, section .intro .down:before {
  background: url('../img/sprites-sb5f3c36d67.png') no-repeat;
}

.sprites-down_arrow {
  background-position: -78px -14px;
}

.sprites-external_arrow {
  background-position: -62px -42px;
}

.sprites-external_arrow_blue {
  background-position: -85px -42px;
}

.sprites-menu-collapse {
  background-position: 0 -14px;
}

.sprites-menu-open {
  background-position: -39px -14px;
}

.sprites-salt {
  background-position: 0 -42px;
}

.sprites-salted-herring {
  background-position: 0 0;
}

.sprites-saltshaker {
  background-position: 0 -106px;
}

/* @license
 * MyFonts Webfont Build ID 2234777, 2012-04-22T18:09:36-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Bodoni Book Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/atf-bodoni/bodoni-book-italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/regular/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Medium by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 *
 * Webfont: Brandon Grotesque Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2234777
 * 
 * © 2012 Bitstream Inc
*/
/* @license
 * MyFonts Webfont Build ID 2631517, 2013-08-28T00:27:08-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Brandon Grotesque Black by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2631517
 * 
 * © 2013 MyFonts Inc
*/
@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/28275D_0_0.eot');
  src: url('../fonts/28275D_0_0.eot?#iefix') format('eot'), url('../fonts/28275D_0_0.woff') format('woff'), url('../fonts/28275D_0_0.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_0_0.eot');
  src: url('../fonts/234A9E_0_0.eot?#iefix') format('eot'), url('../fonts/234A9E_0_0.woff') format('woff'), url('../fonts/234A9E_0_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_2_0.eot');
  src: url('../fonts/234A9E_2_0.eot?#iefix') format('eot'), url('../fonts/234A9E_2_0.woff') format('woff'), url('../fonts/234A9E_2_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_1_0.eot');
  src: url('../fonts/234A9E_1_0.eot?#iefix') format('eot'), url('../fonts/234A9E_1_0.woff') format('woff'), url('../fonts/234A9E_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_1_0.eot');
  src: url('../fonts/234A9E_1_0.eot?#iefix') format('eot'), url('../fonts/27128A_0_0.woff') format('woff'), url('../fonts/27128A_0_0.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222222;
}

body {
  font-size: 16;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
html,
body {
  height: 100%;
}

* {
  background-clip: padding-box;
  box-sizing: padding-box;
}

body,
p,
td,
li,
input {
  font-family: 'BrandonGrotesque', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  color: black;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

body {
  background: url(../img/diagonals.png) whitesmoke;
}
body.fixed {
  overflow: hidden;
}

h1 {
  font-size: 3em;
  line-height: 1.08333em;
  font-weight: bold;
  font-style: normal;
}

article a {
  position: relative;
  padding-bottom: 20px;
}
article a:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 10px;
  height: 4px;
  width: 100%;
  background: transparent;
}
article a:hover:after {
  background: black;
}

@media (max-width: 320px) {
  img {
    max-width: 100%;
  }
}
.container {
  *zoom: 1;
  max-width: 56em;
  _width: 56em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 896px;
  max-width: 896px !important;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56em) {
  .container {
    max-width: 56em;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    /* 		width: 18em; */
    overflow-x: none;
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.grid_1 {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_1 {
  margin-left: 20em;
}

.grid_2 {
  width: 64.28571%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_2 {
  margin-left: 40em;
}

.grid_3 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_3 {
  margin-left: 60em;
}

.row {
  overflow: hidden;
  *zoom: 1;
}
.row .container {
  padding: 0;
}
.row .grid_1:last-child {
  margin-right: 0;
}
.row .grid_1.notlast {
  float: left !important;
}
.row .grid_2:last-child {
  margin-right: 0;
}
.row .grid_2.notlast {
  float: left !important;
}
.row .grid_3:last-child {
  margin-right: 0;
}
.row .grid_3.notlast {
  float: left !important;
}

@media (max-width: 320px) {
  .container {
    max-width: 50em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    max-width: 100%;
  }

  .grid_1 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_2 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_3 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }
}
/* ===========================
 * Generic Styles
 * =========================== */
.link, .external {
  display: inline-block;
  border: 3px solid white;
  padding: .8em 2em 1em 2em;
  text-align: center;
  font-size: 1.375em;
  position: relative;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  	/*
  background-color: $white;
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
  */
}
.link span, .external span {
  background-color: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* 		color: $black; */
}

.external {
  background: #36cdf5;
}
.external:before {
  position: absolute;
  display: block;
  content: '';
  right: -3px;
  top: -3px;
  background-color: #36cdf5;
  width: 23px;
  height: 23px;
  z-index: 2;
  background-position: -62px -42px;
}
.external:hover:before {
  right: -6px;
  top: -6px;
}

.filters {
  padding: 2em 2em 2em 1em;
}
.filters a {
  font-family: 'Times', serif;
  font-style: italic;
  color: black;
  white-space: nowrap;
}
.filters a:last-child:after {
  display: none;
}
.filters a.all, .filters a.current, .filters a:hover {
  color: white;
}
.filters a.all:hover, .filters a.current:hover {
  color: black;
}
.filters a:after {
  margin-left: 10px;
  margin-right: 10px;
  content: '/';
  color: black;
}

/* ===========================
 * Sections
 * =========================== */
/* ===========================
 * Header
 * =========================== */
#header {
  position: fixed;
  overflow: visible;
  margin-top: 0;
  width: 100%;
  /* 	margin-left: -480px; */
  z-index: 100;
  /* 	left: 50%; */
  background: #f3f3f3;
  -webkit-transform: translate3d(0, 0, 0);
}
#header .row {
  overflow: visible;
}

#logo {
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -2em;
  display: inline-block;
  background: black;
}
#logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  height: 3.125em;
  line-height: 0;
  width: 143px;
  font-size: 0;
  height: 14px;
  background-position: 0 0;
  margin: 0 0 0 1em !important;
  position: relative;
}

.menu-open {
  background-position: -39px -14px;
}

#main_nav {
  margin-left: -2.5em;
  padding-right: .5em;
  position: relative;
  outline: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#main_nav ul {
  margin: 0 !important;
  padding-left: 0;
  text-align: right;
  border: none;
  outline: none;
}
#main_nav li {
  padding: 1.125em 0 0 0;
  display: inline-block;
  padding-left: 1.3em;
  line-height: 1em;
}
#main_nav li:first-child {
  padding-left: 0;
}
#main_nav a {
  font-size: 1.125em;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  position: relative;
}
#main_nav a:after {
  position: absolute;
  content: '';
  bottom: -.55em;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 2;
  background: transparent;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#main_nav a:hover, #main_nav a.current {
  color: #36cdf5;
}
#main_nav a:hover:after, #main_nav a.current:after {
  background: black;
}

#menu_icon {
  position: fixed;
  z-index: 120;
  right: 1em;
  top: .75em;
  color: #36cdf5;
  font-size: 1.125em;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 500;
  display: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.mobile #menu_icon {
  background-position: -39px -14px;
}
.mobile #menu_icon.collapse {
  background-position: 0 -14px;
}
.mobile #menu_icon.expand {
  cursor: pointer;
  background-position: -39px -14px;
}

/* ===========================
 * Content
 * =========================== */
#content {
  padding-top: 2.9em;
  min-height: 100%;
  /* 		width: 100%; */
}

#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
  text-align: center;
  vertical-align: middle;
}

/* ===========================
 * Footer
 * =========================== */
footer {
  width: 100%;
  padding: 0;
  margin: 0;
}
footer .salt {
  background: black;
  color: #36cdf5;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  display: block;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
}
footer .salt span {
  display: block;
  position: relative;
}
footer .salt span:after {
  position: absolute;
  right: 6.5em;
  top: .65em;
  display: block;
  content: '';
  width: 62px;
  height: 64px;
  background-position: 0 -42px;
}
footer .salt span:before {
  position: absolute;
  right: 4em;
  top: -3.8em;
  display: block;
  content: '';
  width: 139px;
  height: 160px;
  background-position: 0 -106px;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
footer .salt.animate span:before {
  -webkit-animation-timing-function: easeInOutBack;
  -moz-animation-timing-function: easeInOutBack;
  -ms-animation-timing-function: easeInOutBack;
  animation-timing-function: easeInOutBack;
  -webkit-animation: saltshaker 0.5s 2;
  -moz-animation: saltshaker 0.5s 2;
  -ms-animation: saltshaker 0.5s 2;
  animation: saltshaker 0.5s 2;
}
footer .salt.animate span:after {
  -webkit-animation-timing-function: easeInOutBounce;
  -moz-animation-timing-function: easeInOutBounce;
  -ms-animation-timing-function: easeInOutBounce;
  animation-timing-function: easeInOutBounce;
  -webkit-animation: salt 0.5s 2;
  -moz-animation: salt 0.5s 2;
  -ms-animation: salt 0.5s 2;
  animation: salt 0.5s 2;
}
footer .whoarewe {
  margin-top: -1em;
}
footer .whoarewe p {
  font-family: 'Times', serif;
  font-style: italic;
}
footer .contact {
  margin-top: -1em;
}
footer .details {
  background: #36cdf5;
}
footer .row {
  color: black;
  padding: 6em 2em 6em 0;
}
footer a {
  color: white;
}
footer a[href^="tel:"] {
  color: black;
  cursor: text;
}
footer a.map {
  color: black;
}
footer a[href^='mailto:'], footer a.map {
  position: relative;
  padding-bottom: 10px;
  display: inline-block;
}
footer a[href^='mailto:']:after, footer a.map:after {
  position: absolute;
  display: block;
  content: '';
  bottom: 5px;
  height: 4px;
  width: 100%;
  background: transparent;
}
footer a[href^='mailto:']:hover:after, footer a.map:hover:after {
  background: black;
}

@-webkit-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-moz-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-ms-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-webkit-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@-moz-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@-ms-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

/* ===========================
 * Banner
 * =========================== */
#banner {
  padding: 2em 0;
  margin-bottom: 6em;
}
#banner .container {
  position: relative;
}
#banner h1 {
  font-size: 10em;
  color: white;
  line-height: 160px;
  font-weight: 800;
  margin: 0 0 -48px -32px;
  text-transform: uppercase;
}

/* ===========================
 * End Sections
 * =========================== */
.mobile #main_nav {
  display: block;
}
.mobile #main_nav ul {
  margin-right: 0;
}

#main_nav {
  display: block;
}
#main_nav ul {
  margin-right: -1em;
}

#menu_icon {
  display: none;
}

@media (max-width: 320px) {
  .nomobi {
    display: none !important;
  }

  #banner {
    display: none;
  }

  #content {
    width: 100%;
    margin: 0;
  }
  #content article {
    padding: 0 1em !important;
  }

  #menu_icon {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 39px;
    height: 27px;
    font-size: 16px;
    right: 1em !important;
    display: block;
  }

  #header {
    width: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  #logo {
    left: 0;
    margin: 0;
    /* 		padding-right: 2em; */
    padding-left: 1em;
    /* 		margin-left: -1em; */
    position: absolute;
    z-index: 2;
    /* 		width: 20em; */
  }

  #main_nav {
    margin-left: 0em;
    padding-left: 0em;
    padding-right: 0em;
    background: whitesmoke;
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
  }
  #main_nav:before {
    display: block;
  }
  #main_nav ul {
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    background: white;
    top: 2.9em;
    height: 0;
    overflow: hidden;
    max-height: 1000px;
    text-align: center;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  #main_nav.collapse ul {
    height: 3em;
    overflow: visible;
  }

  footer {
    width: 100%;
    /* 		display: none; */
  }
  footer .salt {
    font-size: 1em;
    margin: 0;
    padding: 1.5em 1em;
    line-height: 1em;
    /* 			width: 100%; */
    text-align: center;
    /* 			display: none; */
  }
  footer .salt span:before, footer .salt span:after {
    display: none;
  }
  footer .external {
    margin: 0 0 1em 1em;
  }
  footer .row {
    font-size: 1em;
    margin: 0;
    padding: 1.5em 1em;
    line-height: 1.2em;
    /* 			display: none; */
    /* 			width: 100%; */
  }
  footer .row p {
    margin: 1em;
  }
}
h1 {
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: 800;
  font-size: 7.5em;
  text-transform: uppercase;
  line-height: 1em;
}
h1 span {
  display: none;
}

h1 {
  margin: 0;
}

#keyword {
  margin-top: -30px;
}

#heading,
.heading {
  width: 100%;
  position: fixed;
  text-align: center;
  /* 	left: 50%; */
  margin: 0;
  /* 	margin-left: -(425/2)+px; */
  z-index: 5;
  display: block;
}
#heading.fixed,
.heading.fixed {
  background: red;
  z-index: 1;
}
#heading h1,
.heading h1 {
  display: inline-block;
}

#nextnav {
  position: fixed;
  z-index: 100;
  left: 50%;
  bottom: 0;
  margin-left: -43px;
  background: black;
  /* 	@include hide_text; */
}
#nextnav a {
  display: inline-block;
  background-color: black;
  padding: 1.2em 2em 1em 2em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 21px;
  /* 		height: 28px !important; */
  position: relative;
  height: 100%;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
#nextnav a:before {
  position: absolute;
  /* 			left: 2em; */
  /* 			top: 1.5em; */
  width: 21px;
  height: 28px !important;
  content: '';
  display: block;
  background-position: -78px -14px;
}
#nextnav.up a:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

section {
  position: relative;
}
section a {
  color: white;
}
section .block {
  position: relative;
  height: 100%;
  width: 100%;
}
section .text {
  position: relative;
  height: 100%;
  /* 		z-index: 10; */
}
section .blur {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  filter: blur(20px);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
}
section .contain {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateZ(0);
}
section img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
section .header {
  display: block;
  text-align: center;
  margin-top: 3.125em;
  line-height: 1em;
  color: white;
  font-size: 1.375em;
}
section .heading {
  padding: 0 !important;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-weight: 800;
  font-size: 7.5em;
  text-transform: uppercase;
  line-height: 1em;
  position: absolute;
  display: none;
  width: 100%;
}
section .heading span {
  display: block;
}
section .first .text {
  padding: 0;
}
section .first nav {
  position: absolute;
  left: 50%;
  margin-left: -105.5px !important;
  bottom: 8.125em;
  /* 			padding: 0 3em !important; */
}
section .first nav, section .link, section .external {
  text-align: center;
  border-top: 3px solid white;
  display: block;
  padding: 0;
  display: table;
  margin: 0 auto;
  width: auto;
  /* 		position: relative; */
}
section .first nav:before, section .link:before, section .external:before {
  position: absolute;
  content: '';
  display: block;
  width: 3em;
  height: 100%;
  left: -3em;
  top: -3px;
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
section .first nav:after, section .link:after, section .external:after {
  position: absolute;
  content: '';
  display: block;
  width: 3em;
  height: 100%;
  right: -3em;
  top: -3px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
}
section .first nav ul, section .link ul, section .external ul {
  margin: 0;
  padding: 0;
  line-height: 0;
}
section .first nav li, section .link li, section .external li {
  padding: 0;
  margin-left: -4px;
  display: inline-block;
}
section .first nav a, section .link a, section .external a {
  padding: 1em .5em;
  margin: 0 0 -3px 0;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.125em;
  display: block;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: white;
  line-height: 1em;
  border-bottom: 3px solid transparent;
  border-bottom: 3px solid white;
  -webkit-transition-delay: 8s;
  -moz-transition-delay: 8s;
  -o-transition-delay: 8s;
  transition-delay: 8s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  			/*
  &:after {
  				position: absolute;
  				content: '';
  				display: block;
  				width: 100%;
  				height: 3px;
  				bottom: 0px;
  				left: 50%;
  				margin-left: -50%;
  				background: $white;
  				@include transition(all .5s);
  			}
  */
}
section .first nav a:hover, section .link a:hover, section .external a:hover {
  color: #36cdf5;
  border-bottom-color: transparent;
}
section .first nav a:hover:after, section .link a:hover:after, section .external a:hover:after {
  width: 0;
}
section .link, section .external {
  padding: .8em 2em !important;
  font-weight: 500;
  font-size: 1.125em;
  display: table;
  margin: 0 auto;
  width: auto;
}
section .link:before, section .external:before, section .link:after, section .external:after {
  display: none !important;
}
section .links {
  margin-top: 6em;
  color: white;
}
section .links span {
  display: block;
  float: left;
}
section .links em {
  font-family: 'Times', serif;
  font-style: italic;
}
section .links strong {
  font-size: 1.375em;
}
section .links a {
  float: right;
}
section .intro {
  background: rgba(0, 211, 255, 0.6);
  font-size: 1.125em;
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  min-height: 66px;
}
section .intro ul {
  list-style: none;
  padding: 1.5em 0 0 0;
  margin: 0;
  display: inline;
}
section .intro li {
  display: inline;
}
section .intro .contact a,
section .intro .blog a {
  color: black;
}
section .intro .down {
  visibility: hidden;
  display: none;
  background-color: black;
  padding: 1.5em 2em 1em 2em;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  width: 21px;
  position: relative;
  height: 100%;
}
section .intro .down:before {
  position: absolute;
  left: 2em;
  top: 1.5em;
  width: 21px;
  height: 28px;
  content: '';
  display: block;
  background-position: -78px -14px;
}
section .intro .contactlinks {
  width: 433px;
}
section .intro .contactlinks a {
  padding-right: 3em;
}
section .intro .news {
  padding-left: 2em;
  width: 398px;
  overflow: hidden;
  height: 24px;
  position: relative;
  padding: 0;
  margin: 1.5em 0 0 2em;
  float: right !important;
}
section .intro .news li {
  position: absolute;
  display: block;
  top: 30px;
}
section .intro .news li.active {
  top: 0;
}
section .intro .news p {
  margin: 0;
}
section .intro .contactlinks,
section .intro .down {
  float: left;
}
section .intro a {
  position: relative;
  display: inline-block;
  padding-right: 5px;
}
section .intro a[href^="mailto:"] {
  padding-left: 5px;
  padding-right: 0;
}
section .intro a[href^="mailto:"]:before {
  position: absolute;
  content: '';
  display: block;
  width: 3px;
  height: 30px;
  left: -3px;
  top: -2px;
  background: white;
}
section .contact {
  display: none;
}

#work {
  height: 100%;
  width: 100%;
  position: absolute;
}
#work .block {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-attachment: fixed;
  background-position: 50% 0;
}
#work .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
  background-size: 120% auto;
  background-attachment: fixed;
  background-position: 0 0;
  		/*
  -webkit-transform: translate3d(0,0,0);
  		-webkit-backface-visibility: hidden;
  */
}

@media (max-width: 320px) {
  /* 	a[href^="tel"], */
  .contact {
    width: 20%;
  }

  .block {
    margin: 0 !important;
    padding: 0;
  }

  .blog,
  #nextnav {
    display: none !important;
  }

  section {
    margin: 0;
    		/*
    .text {
    			padding: 0 1em;
    		}
    */
  }
  section .contain {
    position: relative;
    top: auto;
    width: auto;
  }
  section .block {
    overflow: hidden;
  }
  section .heading {
    padding: 0;
    width: 100%;
    margin-top: 1.5em;
    font-size: 3.125em;
  }
  section .header {
    display: none;
  }
  section .contact {
    display: block;
  }
  section .contact a {
    display: inline-block !important;
    padding: 0 0 0 1em !important;
  }
  section .intro {
    display: none;
  }
  section .intro .contactlinks {
    float: none;
  }
  section .intro .news {
    display: none;
  }
  section .intro ul {
    padding: 0;
  }
  section .intro li {
    margin-left: -4px;
    margin-right: 1em;
  }
  section .intro a {
    padding: 0 !important;
  }
  section .intro .contact {
    margin-right: 0;
  }
  section .intro .contact a {
    padding-left: 1em !important;
  }
  section .down {
    display: none !important;
  }
  section .link, section .external {
    position: relative;
    z-index: 1;
  }
  section .links {
    margin: 1em 0em 0 0em;
    padding: 1em 0;
    /* 			width: 100%; */
    float: none;
    			/*
    left: 0;
    			top: 0;
    */
    z-index: -1;
    display: block;
  }
  section .links span {
    display: none;
  }
  section .links a {
    float: none;
  }

  .first nav {
    margin-bottom: 1em;
  }
  .first .link, .first .external {
    display: none;
  }
  .first .intro {
    display: block;
    width: 100%;
    margin-top: 2em;
    background: rgba(0, 211, 255, 0.6);
    text-align: center;
    padding: 1em 0;
    /* 			margin-left: -1em; */
    /* 			margin-right: -1em; */
    /* 			width: 20em; */
    font-size: 1em;
  }
  .first .intro a {
    display: inline-block;
    /* 				width: 50%; */
    padding: 0;
    /* 				padding-left: 1em; */
    color: black;
    text-align: center;
  }
  .first .intro a[href^="mailto:"] {
    display: none;
  }
  .first .intro a[href^="tel:"] {
    padding-right: 1em;
    padding-left: 0;
  }
  .first .intro li {
    padding: 0;
    /* 				width: 50%; */
    text-align: center;
  }
  .first .intro .contact {
    position: relative;
  }
  .first .intro .contact:before {
    position: absolute;
    display: block;
    content: '';
    width: 3px;
    height: 20px;
    left: 0;
    top: 3px;
    background: white;
  }

  #work {
    /* 		display: none; */
    margin: 0em;
  }
  #work .block {
    width: 100% !important;
    /* 			visibility: hidden; */
    /* 			background-size: contain !important; */
  }
}
