/* ===========================
 * Colour Pallet
 * =========================== */
/* ===========================
 * Fonts
 * =========================== */
/* ===========================
 * Sprite sheets
 * =========================== */
.sprites-sprite, .sprites-down_arrow, .sprites-external_arrow, .sprites-external_arrow_blue, .sprites-menu-collapse, .sprites-menu-open, .sprites-salt, .sprites-salted-herring, .sprites-saltshaker, .external:before, #logo a, .menu-open, .mobile #menu_icon, .mobile #menu_icon.collapse, .mobile #menu_icon.expand, footer .salt span:after, footer .salt span:before {
  background: url('../img/sprites-sb5f3c36d67.png') no-repeat;
}

.sprites-down_arrow {
  background-position: -78px -14px;
}

.sprites-external_arrow {
  background-position: -62px -42px;
}

.sprites-external_arrow_blue {
  background-position: -85px -42px;
}

.sprites-menu-collapse {
  background-position: 0 -14px;
}

.sprites-menu-open {
  background-position: -39px -14px;
}

.sprites-salt {
  background-position: 0 -42px;
}

.sprites-salted-herring {
  background-position: 0 0;
}

.sprites-saltshaker {
  background-position: 0 -106px;
}

/* @license
 * MyFonts Webfont Build ID 2234777, 2012-04-22T18:09:36-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed fonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Bodoni Book Italic by Bitstream
 * URL: http://www.myfonts.com/fonts/bitstream/atf-bodoni/bodoni-book-italic/
 * Copyright: Copyright 1990-2003 Bitstream Inc. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Bold by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/bold/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Regular by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/regular/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * Webfont: Brandon Grotesque Medium by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/medium/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 *
 * Webfont: Brandon Grotesque Light by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/light/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2234777
 * 
 * © 2012 Bitstream Inc
*/
/* @license
 * MyFonts Webfont Build ID 2631517, 2013-08-28T00:27:08-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Brandon Grotesque Black by HVD Fonts
 * URL: http://www.myfonts.com/fonts/hvdfonts/brandon-grotesque/black/
 * Copyright: Copyright (c) 2009 by Hannes von Doehren. All rights reserved.
 * Licensed pageviews: 10,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2631517
 * 
 * © 2013 MyFonts Inc
*/
@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/28275D_0_0.eot');
  src: url('../fonts/28275D_0_0.eot?#iefix') format('eot'), url('../fonts/28275D_0_0.woff') format('woff'), url('../fonts/28275D_0_0.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_0_0.eot');
  src: url('../fonts/234A9E_0_0.eot?#iefix') format('eot'), url('../fonts/234A9E_0_0.woff') format('woff'), url('../fonts/234A9E_0_0.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_2_0.eot');
  src: url('../fonts/234A9E_2_0.eot?#iefix') format('eot'), url('../fonts/234A9E_2_0.woff') format('woff'), url('../fonts/234A9E_2_0.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_1_0.eot');
  src: url('../fonts/234A9E_1_0.eot?#iefix') format('eot'), url('../fonts/234A9E_1_0.woff') format('woff'), url('../fonts/234A9E_1_0.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BrandonGrotesque";
  src: url('../fonts/234A9E_1_0.eot');
  src: url('../fonts/234A9E_1_0.eot?#iefix') format('eot'), url('../fonts/27128A_0_0.woff') format('woff'), url('../fonts/27128A_0_0.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222222;
}

body {
  font-size: 16;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
html,
body {
  height: 100%;
}

* {
  background-clip: padding-box;
  box-sizing: border-box;
}

body,
p,
td,
li,
input {
  font-family: 'BrandonGrotesque', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
  color: black;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

body {
  background: url(../img/diagonals.png) whitesmoke;
}

h1 {
  font-size: 3em;
  line-height: 1.08333em;
  font-weight: bold;
  font-style: normal;
}

@media (max-width: 320px) {
  img {
    max-width: 100%;
  }
}
.container {
  *zoom: 1;
  max-width: 56em;
  _width: 56em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  max-width: 960px !important;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 56em) {
  .container {
    max-width: 56em;
  }
}
@media (max-width: 320px) {
  .container {
    width: 100%;
    /* 		width: 18em; */
    overflow-x: none;
    max-width: 100% !important;
    padding: 0 !important;
  }
}

.grid_1 {
  width: 28.57143%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_1 {
  margin-left: 20em;
}

.grid_2 {
  width: 64.28571%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_2 {
  margin-left: 40em;
}

.grid_3 {
  width: 100%;
  float: left;
  margin-right: 7.14286%;
  display: inline;
}

.spacer_3 {
  margin-left: 60em;
}

.row {
  overflow: hidden;
  *zoom: 1;
}
.row .container {
  padding: 0;
}
.row .grid_1:last-child {
  margin-right: 0;
}
.row .grid_1.notlast {
  float: left !important;
}
.row .grid_2:last-child {
  margin-right: 0;
}
.row .grid_2.notlast {
  float: left !important;
}
.row .grid_3:last-child {
  margin-right: 0;
}
.row .grid_3.notlast {
  float: left !important;
}

@media (max-width: 320px) {
  .container {
    max-width: 50em;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  .container:after {
    content: "";
    display: table;
    clear: both;
  }

  .row {
    max-width: 100%;
  }

  .grid_1 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_2 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }

  .grid_3 {
    width: 100%;
    float: left;
    margin-right: 2%;
    margin: 0;
    float: none;
  }
}
/* ===========================
 * Generic Styles
 * =========================== */
.link, .external {
  display: inline-block;
  border: 3px solid white;
  padding: .8em 2em 1em 2em;
  text-align: center;
  font-size: 1.375em;
  position: relative;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.external {
  background: #36cdf5;
}
.external:before {
  position: absolute;
  display: block;
  content: '';
  right: -3px;
  top: -3px;
  background-color: #36cdf5;
  width: 23px;
  height: 23px;
  z-index: 2;
  background-position: -62px -42px;
}
.external:hover:before {
  right: -6px;
  top: -6px;
}

.filters {
  padding: 2em 2em 2em 1em;
}
.filters a {
  font-family: 'Times', serif;
  font-style: italic;
  color: black;
  white-space: nowrap;
}
.filters a:last-child:after {
  display: none;
}
.filters a.all, .filters a.current, .filters a:hover {
  color: white;
}
.filters a.all:hover, .filters a.current:hover {
  color: black;
}
.filters a:after {
  margin-left: 10px;
  margin-right: 10px;
  content: '/';
  color: black;
}

/* ===========================
 * Sections
 * =========================== */
/* ===========================
 * Header
 * =========================== */
#header {
  position: fixed;
  overflow: visible;
  margin-top: 0;
  width: 100%;
  /* 	margin-left: -480px; */
  z-index: 100;
  /* 	left: 50%; */
  background: #f3f3f3;
  -webkit-transform: translate3d(0, 0, 0);
}
#header .row {
  overflow: visible;
}

#logo {
  position: relative;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-left: -2em;
  display: inline-block;
  background: black;
}
#logo a {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  display: block;
  height: 3.125em;
  line-height: 0;
  width: 143px;
  font-size: 0;
  height: 14px;
  background-position: 0 0;
  margin: 0 0 0 1em !important;
  position: relative;
}

.menu-open {
  background-position: -39px -14px;
}

#main_nav {
  margin-left: -2.5em;
  padding-right: .5em;
  position: relative;
  outline: none;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#main_nav ul {
  margin: 0;
  padding-left: 0;
  text-align: right;
  border: none;
  outline: none;
}
#main_nav li {
  padding: 1.125em 0 0 0;
  display: inline-block;
  padding-left: 1.3em;
  line-height: 1em;
}
#main_nav li:first-child {
  padding-left: 0;
}
#main_nav a {
  font-size: 1.125em;
  font-weight: 800;
  text-transform: uppercase;
  color: black;
  position: relative;
}
#main_nav a:after {
  position: absolute;
  content: '';
  bottom: -1.3em;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 2;
  background: transparent;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s;
}
#main_nav a:hover, #main_nav a.current {
  color: #36cdf5;
}
#main_nav a:hover:after, #main_nav a.current:after {
  background: black;
}

#menu_icon {
  position: fixed;
  z-index: 120;
  right: 1em;
  top: .75em;
  color: #36cdf5;
  font-size: 1.125em;
  text-transform: uppercase;
  line-height: 1em;
  font-weight: 500;
  display: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.mobile #menu_icon {
  background-position: -39px -14px;
}
.mobile #menu_icon.collapse {
  background-position: 0 -14px;
}
.mobile #menu_icon.expand {
  cursor: pointer;
  background-position: -39px -14px;
}

/* ===========================
 * Content
 * =========================== */
#content {
  padding-top: 2.9em;
  min-height: 100%;
  /* 		width: 100%; */
}

/* ===========================
 * Footer
 * =========================== */
footer {
  width: 100%;
  padding: 0;
  margin: 0;
}
footer .salt {
  background: black;
  color: #36cdf5;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  display: block;
  width: 100%;
  padding: 1em 0;
  overflow: hidden;
}
footer .salt span {
  display: block;
  position: relative;
}
footer .salt span:after {
  position: absolute;
  right: 6.5em;
  top: .65em;
  display: block;
  content: '';
  width: 62px;
  height: 64px;
  background-position: 0 -42px;
}
footer .salt span:before {
  position: absolute;
  right: 4em;
  top: -3.8em;
  display: block;
  content: '';
  width: 139px;
  height: 160px;
  background-position: 0 -106px;
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
footer .salt.animate span:before {
  -webkit-animation-timing-function: easeInOutBack;
  -moz-animation-timing-function: easeInOutBack;
  -ms-animation-timing-function: easeInOutBack;
  animation-timing-function: easeInOutBack;
  -webkit-animation: saltshaker 0.5s 2;
  -moz-animation: saltshaker 0.5s 2;
  -ms-animation: saltshaker 0.5s 2;
  animation: saltshaker 0.5s 2;
}
footer .salt.animate span:after {
  -webkit-animation-timing-function: easeInOutBounce;
  -moz-animation-timing-function: easeInOutBounce;
  -ms-animation-timing-function: easeInOutBounce;
  animation-timing-function: easeInOutBounce;
  -webkit-animation: salt 0.5s 2;
  -moz-animation: salt 0.5s 2;
  -ms-animation: salt 0.5s 2;
  animation: salt 0.5s 2;
}
footer .whoarewe {
  margin-top: -1em;
}
footer .whoarewe p {
  font-family: 'Times', serif;
  font-style: italic;
}
footer .contact {
  margin-top: -1em;
}
footer .details {
  background: #36cdf5;
}
footer .row {
  color: black;
  padding: 6em 2em;
}
footer a {
  color: white;
}
footer a[href^="tel:"] {
  color: black;
  cursor: none;
}
footer a.map {
  color: black;
}

@-webkit-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-moz-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-ms-keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@keyframes saltshaker {
  0%, 100% {
    top: -3.8em;
  }

  50% {
    top: -3.5em;
  }
}

@-webkit-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@-moz-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@-ms-keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

@keyframes salt {
  0%, 100% {
    top: 0.65em;
  }

  50% {
    top: 1em;
  }
}

/* ===========================
 * Banner
 * =========================== */
#banner {
  padding: 2em 0;
  margin-bottom: 6em;
}
#banner .container {
  position: relative;
}
#banner h1 {
  font-size: 10em;
  color: white;
  line-height: 160px;
  font-weight: 800;
  margin: 0 0 -48px -32px;
  text-transform: uppercase;
}

/* ===========================
 * End Sections
 * =========================== */
.mobile #main_nav {
  display: block;
}
.mobile #main_nav ul {
  margin-right: 0;
}

#main_nav {
  display: block;
}
#main_nav ul {
  margin-right: -4em;
}

#menu_icon {
  display: none;
}

@media (max-width: 320px) {
  .nomobi {
    display: none !important;
  }

  #banner {
    display: none;
  }

  #content {
    width: 100%;
    margin: 0;
  }
  #content article {
    padding: 0 1em !important;
  }

  #menu_icon {
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    width: 39px;
    height: 27px;
    font-size: 16px;
    right: 1em !important;
    display: block;
  }

  #header {
    width: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
  }

  #logo {
    left: 0;
    margin: 0;
    /* 		padding-right: 2em; */
    padding-left: 1em;
    /* 		margin-left: -1em; */
    position: absolute;
    z-index: 2;
    /* 		width: 20em; */
  }

  #main_nav {
    margin-left: 0em;
    padding-left: 0em;
    padding-right: 0em;
    background: whitesmoke;
    position: absolute;
    z-index: 3;
    left: 0;
    width: 100%;
  }
  #main_nav:before {
    display: block;
  }
  #main_nav ul {
    position: absolute;
    z-index: 20;
    left: 0;
    width: 100%;
    background: white;
    top: 2.9em;
    height: 0;
    overflow: hidden;
    max-height: 1000px;
    text-align: center;
    padding: 0;
    margin: 0;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve-3d;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
  }
  #main_nav.collapse ul {
    height: 3em;
    overflow: visible;
  }

  footer {
    width: 100%;
    /* 		display: none; */
  }
  footer .salt {
    font-size: 1em;
    margin: 0;
    padding: 1.5em 1em;
    line-height: 1em;
    /* 			width: 100%; */
    text-align: center;
    /* 			display: none; */
  }
  footer .salt span:before, footer .salt span:after {
    display: none;
  }
  footer .external {
    margin: 0 0 1em 1em;
  }
  footer .row {
    font-size: 1em;
    margin: 0;
    padding: 1.5em 1em;
    line-height: 1.2em;
    /* 			display: none; */
    /* 			width: 100%; */
  }
  footer .row p {
    margin: 1em;
  }
}
.filters {
  position: absolute;
  right: 2em;
  bottom: 0em;
  padding-bottom: 0;
}

#banner.collapsed {
  margin-bottom: 0;
  padding: 1em 0;
  position: fixed;
  z-index: 2;
  width: 100%;
}
#banner.collapsed .filters {
  position: relative;
  right: auto;
  bottom: auto;
  text-align: center;
  padding: 0;
}

.contain {
  background: #f3f3f3;
}

#main_nav a:hover, #main_nav a.current {
  color: #ffe339;
}

#team {
  padding: 0;
}
#team .member {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 0em;
  width: 320px;
  height: 320px;
}
#team .member:hover .label {
  background: rgba(0, 0, 0, 0.5);
  height: 142px;
}
#team .member:hover .label span {
  top: 400px;
}
#team .member:hover .label:before {
  top: 1.5em;
}
#team .member:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#team img {
  position: relative;
  z-index: 0;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  -o-transition: -o-transform 0.3s;
  transition: transform 0.3s;
}
#team .label {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  padding: 2em;
  height: 112px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
#team .label:before {
  position: absolute;
  display: block;
  left: 50%;
  top: 6em;
  margin-left: -95px;
  content: 'get closer';
  padding: .8em 2em;
  border: 3px solid white;
  font-weight: 500;
  z-index: 1;
  line-height: 1em;
  text-align: center;
  font-size: 1.375em;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}
#team .label span {
  position: relative;
  display: block;
  top: 0;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}
#team .label strong,
#team .label em {
  display: block;
}
#team .label em {
  font-family: 'Times', serif;
  font-style: italic;
}

#teammember {
  margin-top: 56px;
}
#teammember article {
  position: relative;
}
#teammember h1 {
  font-size: 3em;
  line-height: 1em;
  margin: 0 0 0.45833em 0;
  padding: 0;
}
#teammember header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 960px;
  margin: 0 0 0 -3em;
  padding: 3.5em 5em 5em 5em;
  color: white;
}
#teammember header span {
  font-family: 'Times', serif;
  font-style: italic;
  font-size: 1.5em;
}
#teammember header .photographer {
  float: right;
  font-size: 16px;
}
#teammember header.small {
  padding: 1em 5em;
  position: fixed;
  left: 50%;
  top: 102px;
  margin-left: -496px;
}
#teammember header.small h1 {
  font-size: 1.375em;
  margin: 0;
}
#teammember header.small span {
  font-size: 1em;
}
#teammember header.small .photographer {
  display: none;
}
#teammember img {
  margin: 0 0 0 -2em;
}
#teammember ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#teammember .media img {
  position: relative;
  z-index: 0;
  padding: 0;
  margin-bottom: 1.5em;
}
#teammember blockquote {
  font-size: 3em;
  line-height: 1.04167em;
  position: relative;
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-style: italic;
  display: block;
}
#teammember aside strong {
  font-weight: normal;
  font-size: 1.125em;
  color: #d8c801;
}
#teammember aside a,
#teammember aside span,
#teammember aside strong {
  display: block;
}
#teammember aside a {
  color: black;
}
#teammember aside a,
#teammember aside span {
  font-family: 'Times', serif;
  font-style: italic;
}
#teammember aside .contact {
  margin-top: 1em;
}

#contentarea {
  margin-top: 5em;
  margin-bottom: 2em;
}

#banner {
  background: #ffe339;
}

@media (max-width: 320px) {
  #teammember h1 {
    font-size: 22px;
  }
  #teammember .tagLine {
    font-size: 16px;
  }
  #teammember img {
    margin-left: 0;
  }
  #teammember header {
    margin: 0;
    padding: 1em;
  }
  #teammember blockquote {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  #contentarea {
    margin-top: 1em;
    margin-bottom: 1em;
  }
}
