


.filters {
	@include position(absolute, null, 7.5em, -.5em, null, null);
	padding: 2em 0em 0 1em;
	max-width: 400px;

	.centered & {
		// @include b(lime);
		max-width: 960px;
	}

	a {
		@include minion;
		color: $black;
		white-space: nowrap;
		font-size: (18/$font-size)+em;

		&:last-child {
			&:after {
				display: none;
			}
		}

		&.all,
		&.current,
		&:hover {
			color: $white;
		}

		&.all,
		&.current {
			&:hover {
				color: $black;
			}
		}

		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}

}

#banner {
	position: fixed;
	width: 100%;
	z-index: 10;
	height: 112px;
	@include transition(height .2s 0 easInOutCubic, padding .5s 0 ease);

	.container {
		height: 112px;
	}

	h1,strong {
		@include transition(top .2s 0 easeInOutSine);
	}

	h1 {
		position: absolute;
		top: 0;
		@extend .stripedMask;
	}

	&.collapsed,
	&.small {
		margin-bottom: 0;
		padding: 1em 0;
		position: fixed;
		z-index: 4;
		width: 100%;
		height: 24px;

		.filters {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			padding: 0;
			width: auto;
			top: 0;

			a {
				font-size: (16/$font-size)+em;
			}
		}

		h1, strong {
			top: -10em;
		}
	}

	&.small {
		.filters {
			width: 100%;
			max-width: 960px;
			left: 0;

			strong {
				display: none;
			}
		}
	}

	.filters {
		padding-top: 0;
		top: inherit;
		bottom: -.5em;
	}

	background: $pukegreen;

	&.collapsed {
		.filters {
			top: 0;

		}
	}

	h1 {
		position: absolute;
		top: 0;
		@extend .stripedMask;
	}


//
}


.services {
	@include transition(height .5s);
	padding: 0;
	width: 960px;
	max-width: 960px;
	margin-top: 6em;
	margin-bottom: 5em;
}




.individualentry {
	margin-top: 56px;

	header {
		z-index: 3;
		background: rgba(0,0,0,0.5);
		width: 960px;//800px;
		min-height: 160px;
		color: $white;
		margin: 0 0 0 -30em;

		position: fixed;
		left: 50%;
		top: 111px;
		@include transform(translateZ(0));

		&.delay  {
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}
		}

		@include transition(height .4s);

		.details {
			padding: 2em 5em;
			@include transform(translateZ(0));
			@include transition(all .4s);
		}

		// h1 {
		// 	//@include transition(font .08s ceaser($easeOutCubic));
		// }

		a {
			&:hover {
				&:after {
					background: $white;
				}
			}
		}


		&.small {
			top: 111px !important;
			min-height: 78px;
			height: auto;

			.details {
				padding: 1em 5em;
			}
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}

			.photographer {
				display: none;
			}
		}


		&.no-images {
			position: relative;
		}

		span {
			@include minion;
			font-size: (24/$font-size)+em;
		}

		.photographer {
			float: right;
			font-size: $font-size+px;
		}
	}
}


.row.contentarea {
	width: 896px;
	margin: 30px 0 0 0;
}



.content-col-1 ,
.content-col-2 {
	@include box-sizing(border-box);
	width: 50%;
	float: left;
	padding: 0 30px 0 48px;
}







@include keyframes(heading) {
	0% {
		display: block;
		@include transform(scale(1));
	}

	50% {
		@include transform(scale(0));
	}

	51%, 100% {
		display: none;
	}


}









@include at-breakpoint(0 3 1023px) {
	#banner {
			padding: 16px !important;
		&.landingPage {
			height: auto !important;
			width: 100% !important;
			@include box-sizing(border-box);

			&.small {
				height: 57px!important;
			}

		}

		h1 {
			position: relative;
		}


		.filters {

			position: relative;
			left: 0px !important;
			right: auto;
			bottom: auto;
			float: left;
			max-width: 768px;
			width: 100%;
			height: auto;
			margin-top: 32px;

		}

		&.collapsed {
			.filters {
				margin-top: 0;
			}
		}

		&.small {
			.container {
				text-align: center;
			}
			.filters {
				position: absolute;
				top: 0;
				padding: 0;
				margin: 0;
				width: 100% !important;
				max-width: 960px;
				text-align: center;
				padding: 0 2em;
				@include box-sizing(border-box);
			}
		}
	}


	.services {
		max-width: 640px;
	}

	.content-col-1 ,
	.content-col-2 {
		width: 100%;
		float: none;
		padding: 0 0 0 6%;
	}




//
}

@include at-breakpoint(0 3 1024px) {

	#banner {
		h1 {
			padding-left: 32px;
			margin-left: 0;
		}

		.container {
			overflow: visible;
		}
	}


}





@include at-breakpoint(0 3 768px) {

	#banner {
		display: block;
		position: relative;
		height: auto;
		width: 100%;
		overflow: hidden;

		.container {
			height: auto;
			overflow: visible;
			padding: 0;
			@include box-sizing(border-box);
		}

		&.collapsed,
		&.small {
			padding: 16px 0;
			width: 100%;
			position: relative;

			.filters {
				text-align: left;
				padding: 0;
				width: 100%;

				a {
					font-size: (18/$font-size)+em;
				}
			}
		}

		.filters {
			top: auto;
			right: auto;
			padding: 0px;
			position: relative;
			width: 100%;
			margin: 0 !important;
			bottom: 0;

			strong {
				display: none;
			}
		}

		h1 {
			display: none;
		}
	}


	.services {
		max-width: 320px;
		padding: 0 6%;
	}



	.individualentry {

		header {
			position: absolute;
			z-index: 3;
			top: 0;
			background: rgba(0,0,0,0.5);
			width: 100% !important;
			height: auto;
			min-height: inherit;
			color: $white;
			padding: 0 !important;
			left: 0;

			.details {
				@include transition(none);
				padding: 16px 0em !important;
			}
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}

			h1, span {
				padding: 0 16px;
				display: block;
			}

			.photographer {
				display: none;
			}

			.tagLine,
			.role {
				font-size: 16px;
				line-height: 1.2em;
			}

			&.no-images {
				position: relative;
			}

			span {
				@include minion;
				font-size: (24/$font-size)+em;
			}

			.photographer {
				float: right;
				font-size: $font-size+px;
			}
		}
	}


//
}
