/* ===========================
 * Colour Pallet
 * =========================== */
$black: #000000;
$blue: #36cdf5;
$white: #ffffff;
$lightgrey: #f3f3f3;
$background: #f5f5f5;
$yellow: #d8c801;
$yellowbanner: #ffe339;

/* ===========================
 * Fonts
 * =========================== */
$font-size: 16;

@mixin minion {
	font-family: 'Times', serif;
	font-style: italic;
}

/* ===========================
 * Sprite sheets
 * =========================== */
$sprites-layout: smart;
@import "sprites/*.png";
@include all-sprites-sprites;