

// @include position(absolute, 1px, null, null, 1px, null);

@mixin position ($position, $top, $right, $bottom, $left, $zindex:null) {

  @if $position == 'null' {}
  @else { position: $position; }

  @if $top == 'null' {}
  @else { top: $top; }

  @if $right == 'null' {}
  @else { right: $right; }

  @if $bottom == 'null' {}
  @else { bottom: $bottom; }

  @if $left == 'null' {}
  @else { left: $left; }

  @if $zindex == 'null' {}
  @else { z-index: $zindex; }
//
}









//           color    size    transf      spacn line-hig align weight  decora  style
// @include type(white, rem(14), uppercase, 1.6px, 1.7em, center, bold, none, normal);


//           color size transf spacn line-hig  align weight  decora style
// @include type(null, null, null, null, null, null, null, null, null);



@mixin type($f-color: null, $f-size: null, $f-transform: null, $f-spacing: null, $f-lineheight: null, $f-align: null, $f-weight: null, $f-decoration: null, $f-style:null) {

  @if $f-color == 'null' {}
  @else {
    color: $f-color;
  }

  @if $f-size == 'null' {}
  @else {
    font-size: $f-size;
  }

  @if $f-transform == 'null' {}
  @else {
    text-transform: $f-transform;
  }

  @if $f-spacing == 'null' {}
  @else {
    letter-spacing: $f-spacing;
  }

  @if $f-lineheight == 'null' {}
  @else {
    line-height: $f-lineheight;
  }

  @if $f-align == 'null' {}
  @else {
    text-align: $f-align;
  }

  @if $f-weight == 'null' {}
  @else {
    font-weight: $f-weight;
  }

  @if $f-decoration == 'null' {}
  @else {
    text-decoration: $f-decoration;
  }

  @if $f-style == 'null' {}
  @else {
    font-style: $f-style;
  }

//
}







// Development borders and backgrounds

@mixin bRed { border: 1px solid red; }
@mixin bgRed { background: red; }
@mixin bgDarkred { background: darkred; }
@mixin bLime { border: 1px solid lime; }
@mixin bgLime { background: lime; }
@mixin bgLightgreen { background: lightgreen; }
@mixin bgPink { background: pink; }
@mixin bPink { border: 1px solid pink; }
@mixin bGreen { border: 1px solid green; }
@mixin bBrown { border: 1px solid brown; }
@mixin bPurple { border: 1px solid purple; }


// Development borders and backgrounds

@mixin bg($colorF) {
  background-color: $colorF;
}

@mixin b($colorG) {
  border: 1px solid $colorG;
}

@mixin bt($colorG) {
  border-top: 1px solid $colorG;
}

@mixin bb($colorG) {
  border-bottom: 1px solid $colorG;
}

@mixin br($colorG) {
  border-right: 1px solid $colorG;
}


@mixin bl($colorG) {
  border-left: 1px solid $colorG;
}



@mixin b2($colorG) {
  border: 2px solid $colorG;
}

@mixin b3($colorG) {
  border: 3px solid $colorG;
}

// AliceBlue  DarkOliveGreen  Indigo  MediumPurple  Purple
// AntiqueWhite DarkOrange  Ivory MediumSeaGreen  Red
// Aqua DarkOrchid  Khaki MediumSlateBlue RosyBrown
// AquaMarine DarkRed Lavender  MediumSpringGreen RoyalBlue
// Azure  DarkSalmon  LavenderBlush MediumTurquoise SaddleBrown
// Beige  DarkSeaGreen  LawnGreen MediumVioletRed Salmon
// Bisque DarkSlateBlue LemonChiffon  MidnightBlue  SandyBrown
// Black  DarkSlateGray LightBlue MintCream SeaGreen
// BlanchedAlmond DarkTurquoise LightCoral  MistyRose SeaShell
// Blue DarkViolet  LightCyan Moccasin  Sienna
// BlueViolet DeepPink  LightGoldenrodYellow  NavajoWhite Silver
// Brown  DeepSkyBlue LightGray Navy  SkyBlue
// BurlyWood  DimGray LightGreen  OldLace SlateBlue
// CadetBlue  DodgerBlue  LightPink Olive SlateGray
// Chartreuse FireBrick LightSalmon OliveDrab Snow
// Chocolate  FloralWhite LightSeaGreen Orange  SpringGreen
// Coral  ForestGreen LightSkyBlue  OrangeRed SteelBlue
// CornFlowerBlue Fuchsia LightSlateGray  Orchid  Tan
// Cornsilk Gainsboro LightSteelBlue  PaleGoldenRod Teal
// Crimson  GhostWhite  LightYellow PaleGreen Thistle
// Cyan Gold  Lime  PaleTurquoise Tomato
// DarkBlue GoldenRod LimeGreen PaleVioletRed Turquoise
// DarkCyan Gray  Linen PapayaWhip  Violet
// DarkGoldenRod  Green Magenta PeachPuff Wheat
// DarkGray GreenYellow Maroon  Peru  White
// DarkGreen  HoneyDew  MediumAquaMarine  Pink  WhiteSmoke
// DarkKhaki  HotPink MediumBlue  Plum  Yellow
// DarkMagenta  IndianRed MediumOrchid  PowderBlue  YellowGreen

