@import 'susyone', 'compass/utilities/general/clearfix';

// A Fluid Grid based on 960gs
$total-columns  : 3;
$column-width   : 16em;
$gutter-width   : 4em;
$grid-padding   : 2em;

$break: 3;

@include at-breakpoint(0 3 768px) {
	img,
	object {
		max-width: 100% !important;
	}

	img {
		height: auto;
	}

	aside {

	}
}

.container {
	@include container($total-columns, $break);
	width: 960px;
	max-width: 960px;

	$sizes: 320px 480px 768px 1024px;
	$from: 0 321px 481px 769px;
	$i: 1;

	@each $size in $sizes {
		@include at-breakpoint(nth($from, $i) 3 $size) {
			width: 100%;
			max-width: $size;
			overflow-x: hidden;
			padding: 0;
		}

		$i: $i + 1;
	}
}

@media (min-width: 56em) {
  .container {
    max-width: 960px;
  }
}

.row {
	@include clearfix;

	@for $i from 1 through $total-columns {
		.grid_#{$i}:last-child {
			@include omega;
		}
	}

	@include at-breakpoint(0 $total-columns 480px) {
		@for $i from 1 through $total-columns {
			.grid_#{$i} {
				@include span-columns($total-columns, $total-columns);
				@include omega;
				float: none;
				margin: 0;
				display: block;
			}
		}
	}
}

@for $i from 1 through $total-columns {
	.grid_#{$i} {
		@include span-columns($i);
	}

	.spacer_#{$i} {
		margin-left: ($i * $column-width + ($gutter-width * $i));
	}
}
