@import 'compass/css3', 'animation';


.filters {
	padding: 2em 0em 2em 1em;
	width: 400px;
	
	a {
		@include minion;
		color: $black;
		white-space: nowrap;
		font-size: (18/$font-size)+em;
		
		&:last-child {
			&:after {
				display: none;
			}
		}
		
		&.all,
		&.current,
		&:hover {
			color: $white;
		}
		
		&.all,
		&.current {
			&:hover {
				color: $black;
			}
		}
		
		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}
}

.records {
	padding: 0;
	width: 960px !important;
	max-width: 960px !important;
	margin-bottom: 6em;
	@include transition(height .5s);
	
	.entry {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 0em;
		width: 320px;
		height: 320px;
		float: left;
		
		&:hover {
			.label {
				background: rgba(0,0,0,0.5);
				bottom: -142px;
			}
			
			img {
				@include transform(scale(1.1));
			}
		}
	}
	
	img {
		position: relative;
		z-index: 0;
		@include transition(transform .3s);
	}
	
	.label {
		position: absolute;
		z-index: 1;
		bottom: 0px;
		background: rgba(0,0,0,0.4);
		width: 256px;
		padding: 1em 2em;
		min-height: 0px;
		@include transition(bottom .3s);
		
		&:before {
			display: none;
		}
		
		span {
			position: relative;
			display: block;
			top: 0;
		}
		
		strong,
		em {
			display: block;
		}
		
		em {
			@include minion;
		}
	}
}

.individualentry {
	margin-top: 56px;
		
	header {
		position: absolute;
		z-index: 3;
		top: 0;
		left: -2em;
		background: rgba(0,0,0,0.5);
		width: 960px;//800px;
		height: 160px;
		color: $white;
		margin: 0;
		
		&.delay {
			@include transition_delay(.1s);
		}
		
		@include transition(height .4s);
		
		.details {
			padding: 2em 5em 0em 5em;
			@include transform(translateZ(0));
			@include transition(all .4s);
		}
		
		a {
			&:hover {
				&:after {
					background: $white;
				}
			}
		}
		
		
		&.small {
			height: 78px;
			position: fixed;
			left: 50%;
			top: 102px;
			margin-left: -30em;
			
			.details {
				padding: 1em 5em;
			}
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}
			
			.photographer {
				display: none;
			}
		}
		
		
		&.no-images {
			position: relative;
/* 			margin-left: -2em; */
		}
		
		span {
			@include minion;
			font-size: (24/$font-size)+em;
		}
		
		.photographer {
			float: right;
			font-size: $font-size+px;
		}
	}
}

@include keyframes(heading) {
	0% {
		display: block;
		@include transform(scale(1));
	}
	
	50% {
		@include transform(scale(0));
	}
	
	51%, 100% {
		display: none;
	}
	
	
}

#banner {
	position: fixed;
	width: 100%;
	z-index: 10;
	height: 112px;
	@include transition(height .2s 0 easInOutCubic, padding .5s 0 ease);
	
	.container {
		height: 112px;
	}
	
	h1,strong {
		@include transition(top .2s 0 easeInOutSine);
	}
	
	h1 {
		position: absolute;
		top: 0;
		@extend .stripedMask;
	}
	
	&.collapsed,
	&.small {
		margin-bottom: 0;
		padding: 1em 0;
		position: fixed;
		z-index: 4;
		width: 100%;
		height: 24px;
		
		.filters {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			padding: 0;
			width: auto;
			top: 0;
			
			a {
				font-size: (16/$font-size)+em;
			}
		}
		
		h1, strong {
			top: -10em;
		}
	}
	
	&.small {
		.filters {
			strong {
				display: none;
			}
		}
	}
}

.arrow {
	display: block;
	content: '';
	width: 28px;
	height: 21px;
	position: absolute;
	margin-top: 1em;
	background-color: $blue;
}

#projectnav {
	position: fixed;
	width: 100%;
	height: 1px;
	display: none;
	z-index: 100;
	
	a {
		position: fixed;
		z-index: 10;
		top: 50%;
		display: block;
		background: $blue;
		color: $white;
		padding: (24/$font-size)+em 0 (24/$font-size)+em 1.2em;
		height: 48px;
		width: 3em;
		
		//@include transition-delay(5s);
		@include transition(width .2s);
		
		strong {
			display: block;
		}
		
		&:hover {
/* 			width: auto; */
			strong,em {
				//@include transition(opacity .1s 0s);
				/*
margin-left: 0;
				margin-right: 0;
*/
				//@include transition(opacity .5s 0s);
				@include opacity(1);
/* 				display: block; */
				/*
width: auto;
				height: auto;
*/
			}
			
			
			
			&:after,
			&:before {
				position: absolute;
			}
		}
		
		
		&.over {
			//@include transition-delay(0s);
			//@include transition(width .2s 0s);
			strong,
			em {
				//@include transition-delay(0s);
/* 				@include transition(opacity .2s 1s); */
			}
		}
	}
	
	strong, em {
		display: block;
		position: fixed;
		white-space: nowrap;
		@include opacity(0);
		overflow: visible;
		//@include transition-delay(.5s);
		@include transition(opacity .1s);
	}
	
	strong {
		font-size: (22/$font-size)+em;
	}
	em {
		@include minion;
		margin-top: 1.5em;
	}
	
	.next {
		right: 0;
		
		/*
strong,
		em {
			padding-right: 0px;
		}
*/
		
		&:after {
			right: 1.2em;
			top: 1.5em;
			@extend .arrow;
			@include sprites-sprite(next_arrow);
		}
		&:before {
			display: none;
		}
		
		&:hover {
			&:after {
				top: (24/$font-size)+em;
			}
		}
	}
	
	.previous {
		left: 0;
		
		strong,
		em {
			/*
padding-right: 20px;
			padding-left: 50px;
*/
			float: right;
			text-align: left
		}
		
		&:before {
			margin-left: 0;
			margin-right: 1.2em;
			@extend .arrow;
			@include sprites-sprite(previous_arrow);
		}
		
		&:hover {
			&:before {
				left: 1.2em;
				top: (24/$font-size)+em;
			}
		}
	}
}


@include at-breakpoint(0 3 320px) {
	html,
	body {
		height: auto;
		width: auto;
	}
	
	#banner {
		display: block;
		position: relative;
		height: auto;
		padding: 16px 0;
		width: 100%;
		overflow: hidden;
		
		&.collapsed,
		&.small {
			height: auto;
			padding: 16px 0;
			width: 100%;
			position: relative;
			
			.filters {
				text-align: left;
				padding: 0px 0 0 16px;
				width: 100%;
				
				a {
					font-size: (18/$font-size)+em;
				}
			}
		}
		
		.filters {
			top: auto;
			right: auto;
			padding: 0px 0 0 16px;
			position: relative;
			width: 100%;
			margin: 0;
			
			a {
				&:after {
					margin-right: 0;
				}
			}
			
			strong {
				display: none;
			}
		}
		
		h1 {
			display: none;
		}
	}
	
	blockquote,
	cite {
/* 		display: block !important; */
		max-width: 100%;
		display: inline-block !important;
	}
	
	blockquote {
		font-size: 24px !important;
		
		&:after {
			display: none;
		}
	}
	
	
	#media {		
		.image {
			height: auto !important;
			width: 100% !important;
			margin: 0 0 16px 0;
			min-height: 0 !important;
			
		}
		
		.swf {
			img {
				display: block;
			}
		}
	}
	
	#projectnav {
		display: none !important;
	}
	
	.individualentry {
/* 		margin-top: 56px; */
			
		header {
			position: absolute;
			z-index: 3;
			top: 0;
/* 			left: -2em; */
			background: rgba(0,0,0,0.5);
			width: 100% !important;//800px;
			height: auto;
			color: $white;
			padding: 0 !important;
			left: 0;
			
			.details {
				@include transition(none);
				padding: 16px 0em !important;
			}
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}
			
			h1, span {
				padding: 0 16px;
				display: block;
			}
			
			.photographer {
				display: none;
			}
			
			.tagLine,
			.role {
				font-size: 16px;
				line-height: 1.2em;
			}
			
			&.no-images {
				position: relative;
	/* 			margin-left: -2em; */
			}
			
			span {
				@include minion;
				font-size: (24/$font-size)+em;
			}
			
			.photographer {
				float: right;
				font-size: $font-size+px;
			}
		}
	}
}