
@import 'styles', '_aboutgrid';


#about-landing {
	margin-top: 17em;


	.col1,
	.col2 {
		// @include clearfix;
		width: 50%;
		float: left;
	}

	.pagetitle {
		//            color    	size   					transf 	 	spacn 	lin-heig   align 	weight  decora  style
		@include type($black, 	(60/$font-size)+em, 	null, 	 	0.1px, 	1.1em, 	   null, 	600, 	none, 	italic);
		position: relative;
		margin: 0;

		&:after {
		  @include bg($black);
		  @include position(absolute, null, null, -30px, 0, auto);
		  content:'';
		  width: 106px;
		  height: 3px;
		  display: inline-block;
		}

	}


	$padme: 25px;

	.subtitle {
		//            color    	size   				    transf 	 	spacn 	lin-heig   align 	weight  decora  style
		@include type($black, 	(24/$font-size)+em,  	null,	 	null, 	1.7em, 	   null, 	600, 	none, 	normal);
		margin: 0 0 0 $padme;
	}


	.intro-copy {
		margin: 0 0 0 $padme;
	}

//
}



.services {

	.entry {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 0em;
		width: 320px;
		height: 320px;
		float: left;

		&:hover {
			// .label {
			// 	// background: rgba(0,0,0,0.5);
			// 	// bottom: -142px;
			// }

			img {
				@include transform(scale(1.1));
			}

			// strong {
			// 	font-size: (50/$font-size)+em;
			// }
			// em {
			// 	font-size: (20/$font-size)+em;
			// }


		}
	}

	img {
		position: relative;
		z-index: 0;
		max-width: 1200px!important;
		@include transition(transform .3s);
	}

	.label {
		@include position(absolute, 130px, null, null, 1px, 1);

		text-align: center;
		width: 100%;
		min-height: 0px;
		// @include transition(bottom .3s);

		&:before {
			display: none;
		}

		span {
			position: relative;
			display: block;
			// top: 0;
		}

		strong,
		em {
			display: block;
		}

		strong {
			// @include transition(font-size .3s);
			font-size: (40/$font-size)+em;
			font-style: italic;
			margin: 0 0 20px 0;
		}

		em {
			// @include transition(font-size .3s);
			@include minion;
		}
	}
}



.individualentry {

	// background: $lightgrey;

	&.container {
		position: relative;
	}

	article {
		position: relative;
	}

	h1 {
		font-size: (48/$font-size)+em;
		line-height: 1em;
		margin: 0 0 (22/48)+em 0;
		padding: 0;
	}




	img {
		margin: 0 0 0 -1em;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.media {
		img {
			position: relative;
			z-index: 0;
			padding: 0;
			margin-bottom: 1.5em;
		}
	}



	aside {
		strong {
			font-weight: normal;
			font-size: (18/$font-size)+em;
			color: $yellow;
		}

		span,
		strong {
			display: block;
		}

		a {
			color: $black;
			display: table;
		}

		a,
		span {
			@include minion;
		}

		.contact,
		.responsibilities {
			margin-top: 1em;
		}
	}
}






.contentblock {
	// @include b(lime);
	position: relative;
	padding: 0 0 35px 0;
	margin: 0 0 45px 0;

	.block-title {
		//            color    	size    				transf 	spacn 	lin-heig   align 	weight  decora  style
		@include type(null, 	(48/$font-size)+em, 	null, 	-0.2px, 	1em,   null, 	bold, 	none, 	italic);
		position: relative;
		padding: 0;
		margin: 22px 0 9px 0;
		display: block;
	}

	blockquote {
		//            color    	size    				transf 	spacn 	lin-heig   align 	weight  decora  style
		@include type(null, 	(18/$font-size)+em, 	null, 	-0.2px, 	1em,   null, 	100, 	none, 	italic);
		@include minion;
		display: block;
		margin: 0 0 30px;
	}

	a {
		color: $black;
		text-decoration: underline;

		&:after {
		  display: none;
		}
	}

	&:after {
	  @include bg($black);
	  @include position(absolute, null, null, 10px, 0, auto);
	  content:'';
	  width: 106px;
	  height: 3px;
	  display: inline-block;
	}
//
}








@include at-breakpoint(0 3 1023px) {

	#about-landing {

		.col1,
		.col2 {
			width: 640px;
			float: none;
			margin: 1px auto;
		}

		.pagetitle {
			margin: 0 0 58px 0;
		}

		.subtitle {
			margin: 0;
		}

		.intro-copy {
			margin: 0;
		}
	}

//
}




@include at-breakpoint(0 3 768px) {




	#about-landing {

		margin-top: 3em;

		.col1,
		.col2 {
			width: 320px;
		}

		.pagetitle {
			font-size: (40/$font-size)+em;
		}
	}


	#about-section {
		width: 100% !important;
		overflow: visible;
		margin-top: 0;

		header {
			margin: 0;
			padding: 1em;
			left: 0;

			.details {
				padding: 32px;
			}
		}

		article {
			width: 100%;
		}

		.images {
			height: auto;
			width: 100%;
			padding: 0;
			margin-bottom: 40px;

			img {
				margin: 0;
				position: relative;
			}
		}
	}

	#about-section article {
		padding: 0 !important;
		margin: 0 !important;
	}

	#about-section  {


		.sectionSubTitle {
			font-size:(16/$font-size)+em;
		}

		// blockquote,
		// aside {
		// 	padding: 0 16px !important;
		// 	margin: 0;
		// 	@include box-sizing(border-box);
		// }

		// p {
		// 	padding: 0 16px;
		// 	margin-bottom: 1em;
		// }

		.contentblock {
			margin-right: 18px;
			.block-title {
				font-size:(38/$font-size)+em;
				margin-left: 0;
			}

			blockquote {
				padding-left: 0;
			}

			&:after {
			  left: 0;
			}

		}



	}


//
}





