@import 'styles';

body {
	background: $background;
}

h1 {
	@include sprites-sprite(digital_brand);
	width: 912px;
	height: 174px;
	@include hide_text;
	margin: 62px 0;
	position: fixed;
	top: 46px;
	z-index: 0;
}

aside {
	font-weight: bold;
	font-style: italic;
	font-size: (48/$font-size)+em;
	line-height: (50/48)+em;
}

.article {
	margin-top: -1em;
	
	/*
p {
		font-size: (22/$font-size)+em;
	}
*/
}

article {	
	.row {
		z-index: 2;
		position: relative;
		margin-top: 298px;
	}
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: url(../img/stripes_final.png);
	z-index: 1;
	top: 0px;
	
/* 	background-position: 5px 5px; */
/* 	@include opacity(.2); */
/* 	background-repeat: repeat-y; */
}

.links {
	margin: (40/$font-size)+em 0;
	width: 50%;

	a {
		@extend .link;
		color: $blue;
		border-color: $blue;
		padding: .625em inherit !important;
		font-weight: 500;
		width: 48%;
		font-style: normal;
		font-size: (20/$font-size)+em !important;
		float: left;
		text-decoration: none;
		
		&:hover:after {
			background: none !important;
		}
	}
	
	.fullstory {
		margin-right: 4%;
		
		&:hover {
			background: $blue;
			color: $white;
		}
	}
	
	.website {
		@extend .external;
		color: $blue;
		border-color: $blue;
		background-color: $background;
		
		&:before {
			background-color: $background;
			@include sprites-sprite(external_arrow_blue);
		}
		
		&:hover {
			background: $blue;
			color: $white;
		}
	}
}



@include at-breakpoint(0 3 320px) {
	html,
	body {
		height: auto;
	}
	h1 {
		display: none;
		background-size: contain;
		
		height: 400px;
	background-color: red;
		/*
text-indent: 0;
		font-size: 5em;
		background: none;
		padding: 16px;
*/
		/*
width: auto;
		height: auto;
*/
		width: 100%;
		position: relative;
		top: auto;
		margin: 0;
	}
	
	aside {
		margin-top: 22px !important;
	}
	
	.overlay {
		display: none;
	}
	
	article {
		.row {
			margin-top: 0 !important;
		}
	}
	
	.article {
		padding-top: 0 !important;
	}
	
	.links {
		width: 100%;
	}
	
	#content {
		max-width: 100%;
		padding-bottom: 4em;
		
		aside {
			padding: 16px;
			display: block;
			width: auto;
			margin: 0;
		}
		.article {
			display: block;
			padding: 16px;
			margin: 0;
			width: auto;
		}
		article {
			padding: 0 !important;
		}
	}
}