@import 'styles';


#contact {
	$row-one-height: 424px;

	.row-one {
		@include bg($blue);
	}

	.col-1 {
		@include bg($white);
		height: $row-one-height;
		width: 33.34%;
		float: left;
		box-sizing: border-box;
	}

	.col-2 {
		height: $row-one-height;
		position: relative;
		background: url('../img/contact-bg.jpg');
		width: 66.66%;
		float: left;
		padding: 0 0 0 65px;
		box-sizing: border-box;
	}
//
}


$rowtop: 80px;

.contactIntroText {
	// @include b(red);

	p {
		color: $blue;
		font-size: (45/$font-size)+em;
		line-height: 0.94em;
		font-weight: 800;
		text-transform: uppercase;
		margin: #{$rowtop+10px} 20px 0 30px;
		padding: 0;
	}
//
}

.phoneNumber {
	// @include b(lime);
	@include minion;
	color: $white;
	font-size: (30/$font-size)+em;
	line-height: 0.94em;
	margin: $rowtop 0 30px;
	// font-weight: 800;
	// padding: 0;
}

.contactAddress {
	// @include b(lime);
	@include minion;
	color: $white;
	font-size: (18/$font-size)+em;
	line-height: 1.3em;
	margin: 0 0 30px;
//
}


%button {
	font-weight: 500;
	font-size: 1.125em;
	width: auto;
	display: inline-block;
	border: 3px solid $white;
	padding: .8em 3em;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	text-decoration: none;
	&:hover {
		background: $white;
		color: $black;
	}
	&:after {
	  display: none;
	}
}

.emailButton {
	// @include b(purple);
	@extend %button;
	@include position(absolute, null, null, 40px, 65px, null);
//
}


.emailLink {
	// @include b(pink);
	@extend %button;
	@include position(absolute, null, 80px, 40px, null, null);
//
}













