@import 'styles';


%contact-button {
	font-weight: 500;
	font-size: 1.125em;
	width: auto;
	display: inline-block;
	border: 3px solid $white;
	padding: .8em 3em;
	text-align: center;
	// position: relative;
	box-sizing: border-box;
	text-decoration: none;
	&:hover {
		background: $white;
		color: $black;
	}
	&:after {
	  display: none;
	}
}


#contact {
	$row-one-height: 424px;

	.row-one {
		.col-2 {
			background: $blue url('../img/building.png');
		}

		.col-1 {
			height: $row-one-height;
		}

		.col-2 {
			height: $row-one-height;
		}
	}

	.col-1 {
		@include bg($white);
		width: 33.34%;
		float: left;
		box-sizing: border-box;
	}

	.col-2 {
		position: relative;
		width: 66.66%;
		float: left;
		padding: 0 0 0 65px;
		box-sizing: border-box;
	}

	.emailButton {
		// @include b(purple);
		@extend %contact-button;
		@include position(absolute, null, null, 40px, 65px, null);
	//
	}

	.emailLink {
		// @include b(pink);
		@extend %contact-button;
		@include position(absolute, null, 80px, 40px, null, null);
	//
	}

	$rowtop: 80px;

	.contactIntroText {
		// @include b(red);
		// p {
		// 	color: $blue;
		// 	font-size: (45/$font-size)+em;
		// 	line-height: 0.94em;
		// 	font-weight: 800;
		// 	text-transform: uppercase;
		// 	margin: 0;
		// }
		p {
			//            color    	size   					transf 	 	spacn 	lin-heig   align 	weight  decora  style
			@include type($black, 	(60/$font-size)+em, 	null, 	 	0.1px, 	0.9em, 	   null, 	600, 	none, 	italic);
			position: relative;
			margin: 0;
			padding: #{$rowtop+9px} 20px 0 30px;

			// &:after {
			//   @include bg($black);
			//   @include position(absolute, null, null, -40px, 0, auto);
			//   content:'';
			//   width: 106px;
			//   height: 3px;
			//   display: inline-block;
			// }
		}
	//
	}




	.phoneNumber {
		// @include b(lime);
		@include minion;
		color: $white;
		font-size: (30/$font-size)+em;
		line-height: 0.94em;
		padding: $rowtop 0 30px;
		display: inline-block;
		text-decoration: none;

		&:after {
		  display: none;
		}
	}

	.contactAddress {
		// @include b(lime);
		@include minion;
		color: $white;
		font-size: (18/$font-size)+em;
		line-height: 1.3em;
		margin: 0 0 30px;
	//
	}



	.contentblock {
		// @include b(lime);
		position: relative;
		padding: 0 0 35px 0;
		margin: 91px 118px 0 6px;
		font-weight: 500;

		.block-title {
			//            color    	size    				transf 	spacn 	lin-heig   align 	weight  decora  style
			@include type(null, 	(48/$font-size)+em, 	null, 	-0.2px, 	1em,   null, 	bold, 	none, 	italic);
			position: relative;
			padding: 0;
			margin: 22px 0 9px 0;
			display: block;
		}

		blockquote {
			//            color    	size    				transf 	spacn 	lin-heig   align 	weight  decora  style
			@include type(null, 	(18/$font-size)+em, 	null, 	-0.2px, 	1em,   null, 	100, 	none, 	italic);
			@include minion;
			display: block;
			margin: 0 0 30px;
		}

		a {
			color: $black;
			text-decoration: underline;

			&:after {
			  display: none;
			}
		}

		// &:after {
		//   @include bg($black);
		//   @include position(absolute, null, null, 0, 0, auto);
		//   content:'';
		//   width: 106px;
		//   height: 3px;
		//   display: inline-block;
		// }
	//
	}




//
}





@include at-breakpoint(0 3 800px) {

	#content #contact {
		$response-row-one-height: auto;
		padding: 0!important;


		.row-one {

			.col-1 {
				height: $response-row-one-height;
				width: 100%;
				float: none;
			}

			.col-2 {
				background-size: cover;
				width: 100%;
				float: none;
				padding: 0 0 118px 22px;
			}
		}


		.emailButton {
			@include position(relative, auto, auto, auto, auto, null);
			float: left;
			margin: 0 30px 20px 0;
		//
		}

		.emailLink {
			@include position(relative, auto, auto, auto, auto, null);
			float: left;
		//
		}

		.contactIntroText {
			p {
				font-size: (35/$font-size)+em;
				padding: 20px;
			}
		}

		.phoneNumber {
			padding: 30px 0 20px;
		}

		// .row-two .col-1 img {
		// 	width: 100%;
		// }
	}

//
}



@include at-breakpoint(0 3 502px) {

	#content #contact {
		// $response-row-one-height: auto;
		padding: 0!important;


		.row-two {

			.col-1 {
				// height: $response-row-one-height;
				width: 100%;
				float: none;
				img {
					width: 100%;
				}
			}

			.col-2 {
				background-size: cover;
				width: 100%;
				float: none;
				padding: 0 0 118px 22px;
			}
		}


		.contentblock {
			margin-right: 18px;
			margin-top: 60px;
			.block-title {
				font-size:(38/$font-size)+em;
				margin-left: 0;
			}

			blockquote {
				padding-left: 0;
			}

			&:after {
			  left: 0;
			}

		}



	}

//
}



