@import 'susy', 'compass/utilities/general/clearfix';

// A Fluid Grid based on 960gs
$total-columns  : 3;
$column-width   : 16em;
$gutter-width   : 4em;
$grid-padding   : 2em;

$break: 3;

@include at-breakpoint(0 3 320px) {
	img,
	object {
		max-width: 100% !important;
	}
	
	img {
		height: auto;
	}
	
	aside {
		
	}
}

.container { 
	@include container($total-columns, $break);
	width: 896px;
	max-width: 896px !important;
	
	@include at-breakpoint(0 3 320px) {
		width: 100%;
/* 		width: 18em; */
		overflow-x: none;
		max-width: 100% !important;
		padding: 0 !important;
	}
}


@for $i from 1 through $total-columns {
	.grid_#{$i} {
		@include span-columns($i);
	}
	
	.spacer_#{$i} {
		margin-left: ($i * $column-width + ($gutter-width * $i));
	}
}

.row {
	@include clearfix;
	
	.container {
		padding: 0;
	}
	
	@for $i from 1 through $total-columns {
		.grid_#{$i}{
			&:last-child { 
				margin-right: 0;
			}
			
			&.notlast {
				float: left !important;
			}
		}
	}
}

@include at-breakpoint(0 3 320px) {
	$gutter-width   : 1em;
	$grid-padding   : 1em;
	
	.container { 
		@include container;
		max-width: 100%;
	}
	
	.row {
		max-width: 100%;
	}

	@for $i from 1 through $total-columns {
		.grid_#{$i}{
			@include span-columns(3,$break);
			margin: 0;
			float: none;
		}
	}
}