@import 'styles';

#nextnav {
	position: fixed;
	z-index: 10;
	left: 50%;
	bottom: 0;
	margin-left: -46px;
	background: $black;
	font-size: 18px;
	
	a {
		display: inline-block;
		background-color: $black;
		padding: 1.2em 2em 1em 2em;
		@include hide_text;
		width: 21px;
		position: relative;
		height: 100%;
		
		&:before {
			position: absolute;
			left: 2em;
			top: 1.5em;
			width: 21px;
			height: 28px;
			content: '';
			display: block;
			@include sprites-sprite(down_arrow);
		}
	}
	
	&.up {
		a:before {
			@include transform(rotate(180deg));
		}
	}
}

section {
	position: relative;
	a {
		color: $white;
	}
	
	.block {
		position: relative;
	}
	
	.text {
		position: relative;
		height: 100%;
	}
	
	.contain {
		position: absolute;
		top: 50%;
/* 		margin-top: -300px; */
		width: 100%;
		-webkit-transform: translateZ(0);
	}
	
	img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
/* 		display: none; */
	}
	
	.header {
		display: block;
		text-align: center;
		margin-top: (50/$font-size)+em;
		line-height: 1em;
		color: $white;
		font-size: (22/$font-size)+em;
/* 		margin-bottom: 8em; */
	}
	
	.heading {
		padding: 0 !important;
		/*
position: absolute;
		top: 50%;
*/
		text-align: center;
		vertical-align: middle;
		color: $white;
		font-weight: 800;
		font-size: (120/$font-size)+em;
		text-transform: uppercase;
		line-height: 1em;
		
		span {
			display: block;
		}
	}
	
	.first {
		.text {
			padding: 0;
		}
		nav {
			position: absolute;
			left: 50%;
			margin-left: -163px !important;
			bottom: (130/$font-size)+em;
			padding: 0 3em !important;
		}
	}
	
	.first nav, .link {
		text-align: center;
		border: 3px solid $white;
		display: block;
		padding: 0 1em;
		display: table;
		margin: 0 auto;
		width: auto;
		
		ul {
			margin: 0 0 -7px 0;
			padding: 0;
		}
		li {
			padding: 0;
			display: inline-block;
		}
		
		a {
			padding: 1em .5em 1em .5em;
			margin: 0;
			text-transform: uppercase;
			font-weight: 800;
			font-size: (18/$font-size)+em;
			display: block;
			position: relative;
			overflow: hidden;
			z-index: 1;
			color: $white;
			@include transition-delay(8s);
			@include transition(color .5s);
			
			&:after {
				position: absolute;
				display: block;
				content: '';
				left: 0;
				top: -100%;
				width: 100%;
				height: 100%;
				background: $white;
				z-index: -1;
				@include transition(all .5s ceaser($easeOutExpo));
/* 				@include transform(rotate(-30deg)); */
			}
			
			&:hover {
				color: $blue;
				
				&:after{
					top: 0;
				}
			}
		}
	}
	
	.link {
		padding: .8em 2em !important;
		font-weight: 500;
		font-size: (18/$font-size)+em;
		display: table;
		margin: 0 auto;
		width: auto;
	}
	
	.links {
		margin-top: 6em;
		color: $white;
		span {
			display: block;
			float: left;
		}
		
		em {
			@include minion;
		}
		
		strong {
			font-size: (22/$font-size)+em;
		}
		
		a {
			float: right;
		}
	}
	
	.intro {
		background: rgba(0, 211, 255, .6);
		font-size: (18/$font-size)+em;
		position: absolute;
		bottom: 0;
		width: 100%;
		ul {
			list-style: none;
			padding: 1.5em 0 0 0;
			margin: 0;
			display: inline;
		}
		li {
			display: inline;
		}
		
		.contact,
		.blog {
			a {
				color: $black;
			}
		}
		
		.down {
			visibility: hidden;
			display: inline-block;
			background-color: $black;
			padding: 1.5em 2em 1em 2em;
			@include hide_text;
			width: 21px;
			position: relative;
			height: 100%;
			
			&:before {
				position: absolute;
				left: 2em;
				top: 1.5em;
				width: 21px;
				height: 28px;
				content: '';
				display: block;
				@include sprites-sprite(down_arrow);
			}
		}
		
		.contactlinks {
			width: 433px;
			
			a {
				padding-right: 3em;
			}
		}
		.news {
			padding-left: 2em;
			width: 398px;
			overflow: hidden;
			height: 24px;
			position: relative;
			padding: 0;
			margin: 1.5em 0 0 2em;
			
			li {
				position: absolute;
				display: block;
				top: 30px;
				
				&.active {
					top: 0;
				}
			}
			
			p {
				margin: 0;
			}
		}
		
		.contactlinks,
		.down,
		.news {
			float: left;
		}
		
		a {
			position: relative;
			display: inline-block;
			padding-right: 5px;
			
			&[href^="mailto:"] {
				padding-left: 5px;
				padding-right: 0;
				
				&:before {
					position: absolute;
					content: '';
					display: block;
					width: 3px;
					height: 30px;
					left: -3px;
					top: -2px;
					background: $white;
				}
			}
		}
	}
	
	.contact {
		display: none;
	}
	
	
}



#work {
	height: 100%;
	width: 100%;
	
	.block {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
	
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		-webkit-transform: translate3d(0,0,0);
		-webkit-backface-visibility: hidden;
	}
}



@include at-breakpoint(0 3 320px) {
/* 	a[href^="tel"], */
	.contact {
		width: 20%;
	}
	
	.block {
		margin: 0 !important;
		padding: 0;
	}
	
	.blog,
	#nextnav {
		display: none !important;
	}
	
	section {
		margin: 0;
		
		.contain {
			position: relative;
			top: auto;
			width: auto;
		}
	
		.block {
			overflow: hidden;
		}
		
		.heading {
			padding: 0;
			width: 100%;
			margin-top: 1.5em;
			font-size: (50/$font-size)+em;
		}
		.header {
			display: none;
		}
		
		img {
			//height: 100%;
			//max-width: none;
		}
		
		.contact {
			display: block;
			a {
				display: inline-block !important;
				padding: 0 0 0 1em !important;
			}
		}
		
		.intro {
			display: none;
			
			.contactlinks {
				float: none;
			}
			.news {
				display: none;
			}
			ul {
				padding: 0;
			}
			
			li {
				margin-left: -4px;
				margin-right: 1em;
			}
			
			a {
				padding: 0 !important;
			}
			
			.contact {
				margin-right: 0;
				
				a {
					padding-left: 1em !important;
				}
			}
		}
		
		.down {
			display: none !important;
		}
		
		.link {
			position: relative;
			z-index: 1;
		}
		
		/*
.text {
			padding: 0 1em;
		}
*/
		
		.links {
			margin: 1em 0em 0 0em;
			padding: 1em 0;
/* 			width: 100%; */
			float: none;
			/*
left: 0;
			top: 0;
*/
			z-index: -1;
			display: block;
			
			span {
				display: none;
			}
			
			a {
				float: none;
			}
		}
	}
	
	.first {
		nav {
			margin-bottom: 1em;
		}
		.link {
			display: none;
		}
		
		.heading {
			
		}
		
		.intro {
			display: block;
			width: 100%;
			margin-top: 2em;
			background: rgba(0, 211, 255, .6);
			text-align: center;
			padding: 1em 0;
/* 			margin-left: -1em; */
/* 			margin-right: -1em; */
/* 			width: 20em; */
			font-size: 1em;
			a {
				display: inline-block;
/* 				width: 50%; */
				padding: 0;
/* 				padding-left: 1em; */
				color: $black;
				text-align: center;
			}
			
			a[href^="mailto:"] {
				display: none;
			}
			
			a[href^="tel:"] {
				padding-right: 1em;
				padding-left: 0;
			}
			
			li {
				padding: 0;
/* 				width: 50%; */
				text-align: center;
			}
			
			.contact {
				position: relative;
				
				&:before {
					position: absolute;
					display: block;
					content: '';
					width: 3px;
					height: 20px;
					left: 0;
					top: 3px;
					background: $white;
				}
			}
		}
	}
	
	#work {
/* 		display: none; */
		margin: 0em;
		.block {
			width: 100% !important;
/* 			visibility: hidden; */
/* 			background-size: contain !important; */
		}
	}
}

