@import 'styles';


section {
	position: relative;
	a {
		color: $white;
	}
	
	.block {
		position: relative;
	}
	
	.text {
		position: relative;
		height: 100%;
	}
	
	.contain {
		position: absolute;
		top: 50%;
/* 		margin-top: -300px; */
		width: 100%;
	}
	
	img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		display: none;
	}
	
	.header {
		display: block;
		text-align: center;
		margin-bottom: 8em;
	}
	
	.heading {
		/*
position: absolute;
		top: 50%;
*/
		text-align: center;
		vertical-align: middle;
		color: $white;
		font-weight: 800;
		font-size: (120/$font-size)+em;
		text-transform: uppercase;
		line-height: 1em;
		
		span {
			display: block;
		}
	}
	
	.first {
		.text {
			padding: 0;
		}
	}
	
	.first nav, .link {
		text-align: center;
		border: 3px solid $white;
		display: block;
		padding: 0 1em !important;
		display: table;
		margin: 0 auto;
		width: auto;
		
		ul {
			margin: 0;
			padding: 0;
		}
		li {
			padding: 0;
			display: inline-block;
		}
		
		a {
			padding: 1em .5em .8em .5em;
			text-transform: uppercase;
			font-weight: 800;
			font-size: (18/$font-size)+em;
			display: block;
		}
	}
	
	.link {
		padding: .8em 2em !important;
		font-weight: 500;
		font-size: (18/$font-size)+em;
		display: table;
		margin: 0 auto;
		width: auto;
	}
	
	.intro {
		background: rgba(0, 211, 255, .6);
		font-size: (18/$font-size)+em;
		position: absolute;
		bottom: 0;
		width: 100%;
		ul {
			list-style: none;
			padding: 1.5em 0 0 0;
			margin: 0;
			display: inline;
		}
		li {
			display: inline;
		}
		
		.contact,
		.blog {
			a {
				color: $black;
			}
		}
		
		.down {
			display: inline-block;
			background-color: $black;
			padding: 1.5em 1em;
			@include hide_text;
			width: 21px;
			position: relative;
			height: 100%;
			
			&:before {
				position: absolute;
				left: 1em;
				top: 1.5em;
				width: 21px;
				height: 28px;
				content: '';
				display: block;
				@include sprites-sprite(down_arrow);
			}
		}
		
		.contactlinks {
			width: 454px;
			
			a {
				padding-right: 4em;
			}
		}
		.news {
			padding-left: 2em;
			width: 410px;
			
			li {
				display: block;
			}
		}
		
		.contactlinks,
		.down,
		.news {
			float: left;
		}
		
		a {
			position: relative;
			display: inline-block;
			padding-right: 5px;
			
			&[href^="mailto:"] {
				padding-left: 5px;
				padding-right: 0;
				
				&:before {
					position: absolute;
					content: '';
					display: block;
					width: 3px;
					height: 30px;
					left: -3px;
					top: -2px;
					background: $white;
				}
			}
		}
	}
	
	.contact {
		display: none;
	}
	
	
}

.mobile #main_nav {
	display: block;
}

#main_nav {
	display: none;
}

#menu_icon {
	display: block;
}

#work {
	height: 100%;
	
	.block {
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
	}
}



@include at-breakpoint(0 3 320px) {
/* 	a[href^="tel"], */
	.contact {
		width: 20%;
	}
	
	.blog {
		display: none !important;
	}
	
	section {
		margin: 0;
		
		.contain {
			position: relative;
			top: auto;
			width: auto;
		}
	
		.block {
			overflow: hidden;
		}
		
		.heading {
			padding: 0;
			width: 100%;
			font-size: (50/$font-size)+em;
		}
		.header {
			display: none;
		}
		
		img {
			height: 100%;
			max-width: none;
		}
		
		.contact {
			display: block;
		}
		
		.intro {
			display: none;
			
			.contactlinks {
				width: 100%;
			}
			.news {
				display: none;
			}
			ul {
				padding: 0;
			}
		}
		
		.down {
			display: none !important;
		}
		
		.link {
			position: relative;
			z-index: 1;
		}
		
		/*
.text {
			padding: 0 1em;
		}
*/
		
		.links {
			margin: 1em 0em 0 1em;
			padding: 1em 0;
/* 			width: 100%; */
			float: none;
			/*
left: 0;
			top: 0;
*/
			z-index: -1;
			display: block;
		}
	}
	
	.first {
		nav {
			margin-bottom: 1em;
		}
		.link {
			display: none;
		}
		
		.heading {
			margin-top: 1.5em;
		}
		
		.intro {
			display: block;
			width: 100%;
			margin-top: 2em;
			background: rgba(0, 211, 255, .6);
			text-align: center;
			padding: 1em 0;
/* 			margin-left: -1em; */
/* 			margin-right: -1em; */
			width: 20em;
			font-size: 1em;
			a {
				display: inline-block;
				padding-left: 1em;
				color: $black;
			}
			
			a[href^="mailto:"] {
				display: none;
			}
			
			a[href^="tel:"] {
				padding-right: 1em;
				padding-left: 0;
			}
			
			.contact {
				position: relative;
				
				&:before {
					position: absolute;
					display: block;
					content: '';
					width: 3px;
					height: 20px;
					left: 0;
					top: 0;
					background: $white;
				}
			}
		}
	}
}

