@import 'styles';

#content {
	padding-bottom: 0;
	height: 1000px;
}

h1,
.keyword {
	padding: 1px 0 0 0 !important;
	text-align: center;
	vertical-align: middle;
	color: $white;
	font-weight: 800;
	font-size: (120/$font-size)+em;
	text-transform: uppercase;
	line-height: 1em;
}



.keyword,
.large {
	position: absolute;
	display: block;
	top: 50%;
}

.keyword {
	width: 100%;
}

.large {
	margin-top: -108px;
}

h1 {
	margin: 0;
	//width: 100%;
	z-index: 2;
	padding: 0;
	width: 400px;
	height: 89px;
	left: 50%;
	margin-left: -200px;
	
	@include sprites-sprite(salted);
	@include hide_text;
	
	
	//@extend .stripedMask;
	
	span {
		display: none;
	}
}

#main_nav {
/* 	top: -2em; */
}
#menu_icon {
	top: .8em;
}

#keyword {
	margin-top: -30px;
}

#heading,
.heading {
	width: 100%;
	position: fixed;
	text-align: center;
/* 	top: 50%; */
/* 	left: 50%; */
	margin: 0;
/* 	margin-left: -(425/2)+px; */
/* 	z-index: 50; */
	display: block;
/* 	background: red; */
	
	&.fixed {
		z-index: 100;
	}
	
	h1 {
		@include transform(translate3d(0,0,0), translateZ(0));
/* 		@include transform(translateZ(0)); */
	}
}

.headingwrapper {
	width: 400px;
	margin-left: -200px;
	position: fixed;
	text-align: center;
	top: 50%;
	left: 50%;
	height: 89px;
	margin-top: -53px;
}

#nextnav {
	position: fixed;
	z-index: 100;
	left: 50%;
	bottom: 0;
	margin-left: -33px;
	
	a {
		display: block;
		background-color: $black;
		padding: 19px 2em;
		@include hide_text;
		width: 21px;
		height: 28px ;
		position: relative;
		
		@include transition(background .2s ease);
		
		&:before {
			position: absolute;
			width: 21px;
			height: 28px;
			content: '';
			display: block;
			@include sprites-sprite(down_arrow);
		}
		
		&:hover {
			background: transparent;
		}
	}
	
	&.up {
		a:before {
			@include transform(rotate(180deg));
		}
	}
}

.mobile #nextnav {
	display: none;
}

.no-js {
	section {
		.block {
			display: none;
			
			&:first-child {
				display: block;
			}
		}
	}
}

section {
	position: relative;
	a {
		color: $white;
	}
	
	.block {
		height: 100%;
		width: 100%;
		display: none;
		
		&.show {
			display: block;
		}
	}
	
	.text {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		height: 100%;
/* 		z-index: 10; */
	}
	
	.blur {
		width: 100%;
		height: 100%;
		background: rgba(255,255,255,0.8);
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		@include filter(blur(20px));
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		display: none;
	}
	
	.contain {
		position: absolute;
		top: 0px;
		height: 100%;
		width: 100%;
/* 		-webkit-transform: translateZ(0); */
	}
	
	img {
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
	}
	
	.header {
		display: block;
		text-align: center;
		margin-top: (50/$font-size)+em;
		line-height: 1em;
		color: $white;
		font-size: (22/$font-size)+em;
	}
	
	.heading {
		position: fixed;
		overflow: hidden;
		height: 89px;
		display: none;
		
		h1 {
			margin-top: -108px;
			position: fixed;
			top: 50%;
		}
	}
	
	.first {
/* 		z-index: 1; */
/* 		@include transform(translateZ(1)); */
		.text {
			padding: 0;
		}
		/*
nav {
			position: absolute;
			left: 50%;
			margin-left: -(211/2)+px !important;
			bottom: (150/$font-size)+em;
		}
*/
		
		.digital {
			color: $white;
			font-size: (42/$font-size)+em;
			text-transform: capitalize;
			line-height: 1em;
			font-weight: 500;
			position: absolute;
			display: block;
			text-align: center;
			width: 100%;
			font-style: italic;
			font-family: "minion-pro", Times, serif;
/* 			left: 50%; */
/* 			margin-left: -(247/2)+px !important; */
			top: 50%;
			
			margin-top: 140px;
		}
	}
	
	.first nav, .link {
		text-align: center;
		border-top: 3px solid $white;
		display: block;
		padding: 0;
		display: table;
		margin: 0 auto;
		width: auto;
		
		&.hover {
			&:before,
			&:after,
			a {
				background: $white;
			}
		}
		
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 3em;
			height: 100%;
			left: -3em;
			top: -3px;
			border: {
				top: 3px solid $white;
				bottom: 3px solid $white;
				left: 3px solid $white;
			}
		}
		
		&:after {
			position: absolute;
			content: '';
			display: block;
			width: 3em;
			height: 100%;
			right: -3em;
			top: -3px;
			border: {
				top: 3px solid $white;
				right: 3px solid $white;
				bottom: 3px solid $white;
			}
		}
		
		ul {
			margin: 0;
			padding: 0;
			line-height: 0;
		}
		li {
			padding: 0;
			margin-left: -4px;
			display: inline-block;
		}
		
		a {
			padding: 1em .5em;
			margin: 0 0 -3px 0;
			text-transform: uppercase;
			font-weight: 800;
			font-size: (18/$font-size)+em;
			display: block;
			position: relative;
			overflow: hidden;
			z-index: 1;
			color: $white;
			line-height: 1em;
			border-bottom: 3px solid transparent;
			border-bottom: 3px solid $white;
/* 			@include transition-delay(8s); */
			@include transition(none);
			
			&:hover {
				color: $blue;
				border-bottom-color: transparent;
				
				&:after {
					width: 0;
				}
			}
		}
	}
	
	.link {
		padding: .8em 2em !important;
		font-weight: 500;
		font-size: (18/$font-size)+em;
		display: table;
		margin: 0 auto;
		width: auto;
		
		&:before,
		&:after {
			display: none !important;
		}
	}
	
	.links {
		margin-top: 6em;
		color: $white;
		position: absolute;
		left: 50%;
		bottom: 6em;
		margin-left: (-896/2)+px;
		
		
		span {
			display: block;
			float: left;
		}
		
		em {
			@include minion;
		}
		
		strong {
			font-size: (22/$font-size)+em;
		}
		
		a {
			float: right;
		}
	}
	
	.intro {
		background: rgba(0, 211, 255, .6);
		font-size: (18/$font-size)+em;
		position: absolute;
		bottom: 55px;
		z-index: 10;
		width: 100%;
		min-height: 66px;
		@include transition(bottom .5s 0 easeInExpo);
		
		&.hide {
			bottom: -70px;
		}
		
		ul {
			list-style: none;
			padding: 0;//1.5em 0 0 0;
			margin: 0;
			display: inline;
		}
		li {
			display: inline;
		}
		
		.contact,
		.blog {
			a {
				color: $black;
			}
		}
		
		.down {
			visibility: hidden;
			display: none;
			background-color: $black;
			padding: 1.5em 2em 1em 2em;
			@include hide_text;
			width: 21px;
			position: relative;
			height: 100%;
			
			&:before {
				position: absolute;
				left: 2em;
				top: 1.5em;
				width: 21px;
				height: 28px;
				content: '';
				display: block;
				@include sprites-sprite(down_arrow);
			}
		}
		
		.contactlinks {
			width: 415px;
			text-align: right;
			margin-top: 20px;
			
			a {
				padding-right: 3em;
				
				&[href^="/"],
				&[href^="http"] {
					font-size: 24px;
					
					&:hover {
						color: $white;
					}
				}
				
				&[href^="tel:"] {
					cursor: text;
				}
				
				
				&:last-child {
					padding-right: 1em;
				}
			}
		}
		.news {
			padding-left: 2em;
			width: 398px;
			overflow: hidden;
			height: 24px;
			position: relative;
			padding: 0;
			margin: 23px 0 0 0em;
			float: right !important;
			
			li {
				position: absolute;
				display: block;
				top: 30px;
				padding-left: 20px;
				
				&.active {
					top: 0;
				}
			}
			
			a:hover {
				color: $black;
			}
			
			p {
				margin: 0;
			}
		}
		
		.contactlinks,
		.down {
			float: left;
		}
		
		a {
			position: relative;
			display: inline-block;
			padding-right: 5px;
/* 			padding-left: 5px; */
			
			/*
&[href^="mailto:"] {
				padding-left: 10px;
				padding-right: 0;
				margin-left: 10px;
				
				&:before {
					position: absolute;
					content: '';
					display: block;
					width: 3px;
					height: 30px;
					left: -3px;
					top: -2px;
					background: $white;
				}
			}
*/
		}
	}
	
	.contact {
		display: none;
	}
	
	
}



#work {
	height: 100%;
	width: 100%;
	position: absolute;
	
	.block {
		height: 100%;
		background-repeat: no-repeat;
		@include background-size(cover);
		background-attachment: fixed;
		background-position: 50% 0;
		background-image: none;
		position: absolute;
		@include transform(translate3d(0,0,10), translateZ(10));
		
		img {
			z-index: 0;
			display: none;
			
			&.current {
				display: block;
			}
		}
	}
	
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-repeat: no-repeat;
		@include background-size(cover);
/* 		background-size: 120%; */
		background-attachment: fixed;
		background-position: 50% 0;
		@include transform(translate3d(0,0,11), translateZ(11));
	}
}



@include at-breakpoint(0 3 320px) {
/* 	a[href^="tel"], */
	.contact {
		width: 20%;
	}
	
	.block {
		margin: 0 !important;
		padding: 0;
	}
	
	#main_nav {
		top: 0;
	}
	
	.blog,
	#nextnav {
		display: none !important;
	}
	
	section {
		margin: 0;
		
		&:before,
		&:after {
			display: none;
		}
		
		.contain {
			position: relative;
			top: auto;
			width: auto;
		}
	
		.block {
			display: block;
			overflow: hidden;
		}
		
		.heading {
			padding: 0;
			width: 100%;
			margin-top: 1.5em;
			font-size: (50/$font-size)+em;
		}
		.header {
			display: none;
		}
		
		img {
			//height: 100%;
			//max-width: none;
		}
		
		.contact {
			display: block;
			a {
				display: inline-block !important;
				padding: 0 0 0 1em !important;
			}
		}
		
		.intro {
			display: none;
			
			.contactlinks {
				float: none;
			}
			.news {
				display: none;
			}
			ul {
				padding: 0;
			}
			
			li {
				margin-left: -4px;
				margin-right: 1em;
			}
			
			a {
				padding: 0 !important;
			}
			
			.contact {
				margin-right: 0;
				
				a {
					padding-left: 1em !important;
				}
			}
		}
		
		.down {
			display: none !important;
		}
		
		.link {
			position: relative;
			z-index: 1;
		}
		
		/*
.text {
			padding: 0 1em;
		}
*/
		
		.links {
			margin: 1em 0em 0 0em;
			padding: 1em 0;
			float: none;
			z-index: 1;
			display: block;
			bottom: -1.5em;
			width: 100%;
			left: 0;
			
			span {
				display: none;
			}
			
			a {
				float: none;
			}
		}
	}
	
	.first {
		nav {
			margin-bottom: 1em;
		}
		.link {
			display: none;
		}
		
		.headingwrapper {
			display: none;
		}
		
		.intro {
			display: block;
			width: 100%;
			margin-top: 2em;
			background: rgba(0, 211, 255, .6);
			text-align: center;
			padding: 1em 0;
/* 			margin-left: -1em; */
/* 			margin-right: -1em; */
/* 			width: 20em; */
			font-size: 1em;
			a {
				display: inline-block;
/* 				width: 50%; */
				padding: 0;
/* 				padding-left: 1em; */
				color: $black;
				text-align: center;
			}
			
			a[href^="mailto:"] {
				display: none;
			}
			
			a[href^="tel:"] {
				padding-right: 1em;
				padding-left: 0;
			}
			
			li {
				padding: 0;
/* 				width: 50%; */
				text-align: center;
			}
			
			.contact {
				position: relative;
				
				&:before {
					position: absolute;
					display: block;
					content: '';
					width: 3px;
					height: 20px;
					left: 0;
					top: 3px;
					background: $white;
				}
			}
		}
	}
	
	#work {
		margin: 0em;
		position: relative;
		height: auto;
		
		h1 {
			display: none;
		}
		
		.digital {
			font-size: 1.2em;
		}
		
		.text {
			overflow: hidden !important;
		}
		
		.block {
			width: 100% !important;
/* 			display: none; */
			height: auto;
/* 			overflow: visible; */
			background-attachment: initial;
			
			&.first {
				display: block;
				
				nav {
					bottom: 8em;
					&:before {
						left: -1.5em;
					}
					&:after {
						right: -1.5em;
					}
				}
				
				
				.large {
					margin-top: -150px;
				}
				
				.intro {
					min-height: 0;
				}
				
				/*
.bottom {
					display: none;
				}
*/
			}
			
			img {
				display: none;
			}
/* 			visibility: hidden; */
/* 			background-size: contain !important; */
		}
		
		.large {
			position: relative;
			@include transform(scale(.5));
			margin-top: -150px;
		}
		
		.keyword {
			font-size: 50px;
			margin-top: 80px;
		}
	}
	
	#footer {
		display: none;
	}
}

@include at-breakpoint(0 3 768px) {

	#content {
		min-width: 768px;
		width: 100%;
	}
	
	#work {
		min-width: 768px;
		width: 100%;
		
		.block {
			display: block;
			min-width: 768px;
		}
		
	}

}

@include at-breakpoint(768px 3 1024px) {
	#content {
		min-width: 1024px;
		width: 100%;
	}
	
	#work {
		min-width: 1024px;
		width: 100%;
		
		.block {
			display: block;
			min-width: 1024px;
			width: 100%;
			height: 100%;
			
			@include background-size(2048px auto !important);
			//min-width: 1000px;
			/*
-webkit-background-size: 1024px auto !important;
			background-size: 1024px auto !important;
*/
			
			.headingwrapper {
				display: none;
			}
			
			.large {
				display: block !important;
			}
		}
		
		.overlay {
			display: none;
		}
		
		.bottom {
			height: 100%;
			
			.intro {
				bottom: 2.5em;
				min-height: inherit;
				
				ul {
					padding: 1em 0;
					margin: 0;
				}
				
				.news {
					height: 1em;
					margin-left: 0;
					margin-top: 1em;
					overflow: hidden;
					padding: 0;
				}
			}
		}
		
		.links {
			span {
				display: none;
			}
			a {
				float: none;
			}
		}
	}
	
	#nextnav {
		a {
			padding: 13px 2em;
		}
	}
}