@import '_base', 'compass/css3', 'compass/typography/text/replacement', 'compass/utilities/general/clearfix', 'h5bp', 'fonts', 'susy', 'animation';

@include h5bp-normalize;
@include h5bp-base-styles;
@include h5bp-helpers;
@include h5bp-media;

html,
body {
	height: 100%;
}

* {
	background-clip: padding-box;
	box-sizing: border-box;
}

body,
p,
td,
li,
input {
	font-family: 'BrandonGrotesque', Helvetica, Arial, sans-serif;
	font-size: $font-size+px;
	line-height: (24/$font-size)+em;
	-webkit-font-smoothing: antialiased;
	color: $black;
}

a {
	text-decoration: none;
	@include transition(all .5s);
	color: $white;
}

body {
	background: url(../img/diagonals.png) $background;
}

h1 {
	font-size: (48/$font-size)+em;
	line-height: (52/48)+em;
	font-weight: bold;
	font-style: normal;
}

@import 'grid';


/* ===========================
 * Generic Styles
 * =========================== */


.link {
	display: inline-block;
	border: 3px solid $white;
	padding: .8em 2em 1em 2em;
	text-align: center;
	font-size: (22/$font-size)+em;
	position: relative;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.external {
	@extend .link;
	background: $blue;
	
	&:before {
		position: absolute;
		display: block;
		content: '';
		right: -3px;
		top: -3px;
		background-color: $blue;
		width: 23px;
		height: 23px;
		z-index: 2;
		@include sprites-sprite(external_arrow);
	}
	
	&:hover {
		&:before {
			right: -6px;
			top: -6px;
		}
	}
}

.filters {
	padding: 2em 2em 2em 1em;
	
	a {
		@include minion;
		color: $black;
		white-space: nowrap;
		
		&:last-child {
			&:after {
				display: none;
			}
		}
		
		&.all,
		&.current,
		&:hover {
			color: $white;
		}
		
		&.all,
		&.current {
			&:hover {
				color: $black;
			}
		}
		
		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}
}


/* ===========================
 * Sections
 * =========================== */

/* ===========================
 * Header
 * =========================== */
#header {
	position: fixed;
	overflow: visible;
	margin-top: 0;
	width: 100%;
/* 	margin-left: -480px; */
	z-index: 100;
/* 	left: 50%; */
	background: $lightgrey;
	
	-webkit-transform: translate3d(0,0,0);
	
	.row {
		overflow: visible;
	}
}

#logo {
	position: relative;
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	margin-left: -2em;
	display: inline-block;
	background: $black;
	
	a {
		@include hide_text;
		display: block;
		height: (14+18+18)/$font-size+em;
		line-height: 0;
		width: 143px;
		font-size: 0;
		height: 14px;
		@include sprites-sprite(salted-herring);
		margin: 0 0 0 1em !important;
		position: relative;
	}
	
}

.menu-open {
	@include sprites-sprite(menu-open);
}

#main_nav {
	margin-left: -2.5em;
	padding-right: .5em;
	position: relative;
	outline: none;
	
	@include transform(translate3d(0,0,0));
	
	ul {
		margin: 0;
		padding-left: 0;
		text-align: right;
		border: none;
		outline: none;
	}
	
	li {
		padding: (18/$font-size)+em 0 0 0;
		display: inline-block;
		padding-left: 1.3em;
		line-height: 1em;
		
		&:first-child {
			padding-left: 0;
		}
	}
	
	a {
		font-size: (18/$font-size)+em;
		font-weight: 800;
		text-transform: uppercase;
		color: $black;
		position: relative;
		
		&:after {
			position: absolute;
			content: '';
			bottom: -1.3em;
			left: 0;
			height: 4px;
			width: 100%;
			z-index: 2;
			background: transparent;
			@include transition(background .5s);
		}
		
		&:hover,
		&.current {
			color: $blue;
			
			&:after {
				background: $black;
			}
		}
	}
}

#menu_icon {
	position: fixed;
	z-index: 120;
	right: 1em;
	top: .75em;
	
	color: $blue;
	font-size: (18/$font-size)+em;
	text-transform: uppercase;
	line-height: 1em;
	font-weight: 500;
	
	display: none;
	
	@include transition(none);
}

.mobile #menu_icon {
	@include sprites-sprite(menu-open);
	
	&.collapse {
		@include sprites-sprite(menu-collapse);
	}
	&.expand {
		cursor: pointer;
		@include sprites-sprite(menu-open);
	}
}


/* ===========================
 * Content
 * =========================== */
#content {
	//@include at-breakpoint(0 3 320px) {
		padding-top: 2.9em;
		min-height: 100%;
/* 		width: 100%; */
	//}
}

/* ===========================
 * Footer
 * =========================== */
footer {
	width: 100%;
	padding: 0;
	margin: 0;
	
	.salt {
		background: $black;
		color: $blue;
		font-style: italic;
		font-weight: bold;
		font-size: (32/$font-size)+em;
		display: block;
		width: 100%;
		padding: 1em 0;
		overflow: hidden;
		
		span {
			display: block;
			position: relative;
			
			&:after {
				position: absolute;
				right: 6.5em;
				top: .65em;
				display: block;
				content: '';
				width: 62px;
				height: 64px;
				@include sprites-sprite(salt);
			}
			
			&:before {
				position: absolute;
				right: 4em;
				top: -3.8em;
				display: block;
				content: '';
				width: 139px;
				height: 160px;
				@include sprites-sprite(saltshaker);
				@include animation(none);
			}
		}
	}
	
	.salt.animate {
		span {
			&:before {
				@include animation-timing-function(easeInOutBack);
				@include animation(saltshaker .5s 2);
			}
			
			&:after {
				@include animation-timing-function(easeInOutBounce);
				@include animation(salt .5s 2);
			}
		}
	}
	
	.whoarewe {
		margin-top: -1em;
		
		p {
			@include minion;
		}
	}
	
	.contact {
		margin-top: -1em;
	}
	
	.details {
		background: $blue;
	}
	.row {
		color: $black;
		padding: 6em 2em;
	}
	
	a {
		color: $white;
		
		&[href^="tel:"] {
			color: $black;
			cursor: none;
		}
		
		&.map {
			color: $black;
		}
	}
}

@include keyframes(saltshaker) {
  0%, 100% {
    top: -3.8em;
  }
  50% {
    top: -3.5em;
  }
}

@include keyframes(salt) {
  0%, 100% {
    top: 0.65em;
  }
  50% {
    top: 1em;
  }
}


/* ===========================
 * Banner
 * =========================== */
#banner {
	padding: 2em 0;
	margin-bottom: 6em;
	
	.container {
		position: relative;
	}
	
	h1 {
		font-size: (160/$font-size)+em;
		color: $white;
		line-height: 160px;
		font-weight: 800;
		margin: 0 0 -48px -32px;
		text-transform: uppercase;
	}
}


/* ===========================
 * End Sections
 * =========================== */


.mobile #main_nav {
	display: block;
	
	ul {
		margin-right: 0;
	}
}

#main_nav {
	display: block;
	ul {
		margin-right: -4em;
	}
}

#menu_icon {
	display: none;
} 
 
@include at-breakpoint(0 3 320px) {
 	.nomobi {
		display: none !important;
	}
	
	#banner {
		display: none;
	}
	
	#content {
		width: 100%;
		margin: 0;
		
		article {
			padding: 0 1em !important;
		}
	}
	
	#menu_icon {
		@include hide_text;
		width: 39px;
		height: 27px;
		font-size: $font-size+px;
		right: 1em !important;
		display: block;
	}
	
	#header {
		width: 100%;
		left: 0;
		margin: 0 !important;
		padding: 0 !important;
		
		-webkit-transform-style: preserve-3d;
		-webkit-backface-visibility: hidden;
		-webkit-perspective: 1000;
	}
	
	#logo {
		left: 0;
		margin: 0;
/* 		padding-right: 2em; */
		padding-left: 1em;
/* 		margin-left: -1em; */
		position: absolute;
		z-index: 2;
/* 		width: 20em; */
	}
	
	#main_nav {
		margin-left: 0em;
		padding-left: 0em;
		padding-right: 0em;
		background: $background;
		position: absolute;
		z-index: 3;
		left: 0;
		width: 100%;
		
		&:before {
			display: block;
		}
			
		ul {
				position: absolute;
				z-index: 20;
				left: 0;
				width: 100%;
				background: $white;
				top: 2.9em;
				height: 0;
				overflow: hidden;
				max-height: 1000px;
				text-align: center;
				padding: 0;
				margin: 0;
				
				//@include scale(1.0,0,1);
				
				-webkit-backface-visibility: hidden;
				-webkit-perspective: 1000;
				
				-webkit-transform-style: preserve-3d;
				-webkit-user-select:none;
				-moz-user-select:none;
				
				@include transition(all .2s);
			}
		
		li {
				//@include transition(opacity .2s);
				//@include transition-delay(.2s);
				//@include opacity(0);
			}
		
		&.collapse {
				ul {
					//@include scale(1.0,1.0,1);
					height: 3em;
					overflow: visible;
				}
				li {
					//@include transition-delay(0s);
					//@include opacity(1.0);
				}
			}
	}
	
	footer {
		width: 100%;
/* 		display: none; */
		.salt {
			font-size: (16/$font-size)+em;
			margin: 0;
			padding: 1.5em 1em;
			line-height: 1em;
/* 			width: 100%; */
			text-align: center;
/* 			display: none; */

			span {
				&:before,
				&:after {
					display: none;
				}
			}
		}
		
		.external {
			margin: 0 0 1em 1em;
		}
		
		.row {
			font-size: (16/$font-size)+em;
			margin: 0;
			padding: 1.5em 1em;
			line-height: 1.2em;
			
			p {
				margin: 1em;
			}
/* 			display: none; */
/* 			width: 100%; */
		}
	}
}