@import 'compass/css3';

.records {
	padding: 0;
	width: 960px !important;
	max-width: 960px !important;
	margin-bottom: 6em;
	
	.entry {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 0em;
		width: 320px;
		height: 320px;
		float: left;
		
		&:hover {
			.label {
				background: rgba(0,0,0,0.5);
				height: 142px;
				
				span {
					top: 400px;
				}
				
				&:before {
					top: 1.5em;
				}
			}
			
			img {
				@include transform(scale(1.1));
			}
		}
	}
	
	img {
		position: relative;
		z-index: 0;
		@include transition(transform .3s);
	}
	
	.label {
		position: absolute;
		z-index: 1;
		bottom: 0px;
		background: rgba(0,0,0,0.2);
		width: 256px;
		padding: 1em 2em;
		min-height: 80px;
		
		&:before {
			position: absolute;
			display: block;
			left: 50%;
			top: 6em;
			margin-left: -95px;
			content: 'meet ' attr(data-name);
			padding: .8em 2em;
			font-weight: 500;
			z-index: 1;
			line-height: 1em;
			text-align: center;
			font-size: (22/$font-size)+em;
			//@include transition(top .2s);
			text-transform: lowercase;
			
			background: $white;
				color: $black;
		}
		
		span {
			position: relative;
			display: block;
			top: 0;
			//@include transition(top .2s);
		}
		
		strong,
		em {
			display: block;
		}
		
		em {
			@include minion;
		}
	}
}

.individualentry {
	margin-top: 56px;
	header {
		position: absolute;
		z-index: 3;
		top: 0;
		left: -2em;
		background: rgba(0,0,0,0.5);
		width: 800px;
		padding: 3.5em 5em 5em 5em;
		color: $white;
		margin: 0;
		
		span {
			@include minion;
			font-size: (24/$font-size)+em;
		}
		
		.photographer {
			float: right;
			font-size: $font-size+px;
		}
		
		&.small {
			padding: 1em 5em;
			position: fixed;
			left: 50%;
			top: 102px;
			margin-left: -30em;
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}
			
			.photographer {
				display: none;
			}
		}
	}
}

#banner {
	position: fixed;
	width: 100%;
	@include transition(all .5s);
	
	&.collapsed,
	&.small {
		margin-bottom: 0;
		padding: 1em 0;
		position: fixed;
		z-index: 4;
		width: 100%;
		
		h1, strong {
			display: none;
		}
		
		.filters {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			padding: 0;
			width: auto;
		}
	}
}