@import 'styles', 'teamworkgrid';

.filters {
	position: absolute;
	right: 5em;
	padding-top: 2.5em;
	padding-bottom: 0;
/* 	width: 230px; */
	top: 2em;
}

.contain {
	background: $lightgrey;
}

#main_nav {
	a {
		&:hover,
		&.current {
			color: $yellowbanner;
		}
	}
}

.individualentry {
	
	background: $lightgrey;
	
	&.container {
		position: relative;
	}
	
	article {
		position: relative;
	}
	
	h1 {
		font-size: (48/$font-size)+em;
		line-height: 1em;
		margin: 0 0 (22/48)+em 0;
		padding: 0;
	}
	
	
	
	
	img {
		margin: 0 0 0 -1em;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.media {
		img {
			position: relative;
			z-index: 0;
			padding: 0;
			margin-bottom: 1.5em;
		}
	}
	
	blockquote {
		font-size: (48/$font-size)+em;
		line-height: (50/48)+em;
		position: relative;
		padding: 0;
		margin: 0;
		font-weight: bold;
		font-style: italic;
		display: block;
	}
	
	aside {
		strong {
			font-weight: normal;
			font-size: (18/$font-size)+em;
			color: $yellow;
		}
		
		span,
		strong {
			display: block;
		}
		
		a {
			color: $black;
			display: table;
		}
		
		a,
		span {
			@include minion;
		}
		
		.contact,
		.responsibilities {
			margin-top: 1em;
		}
	}
}

.images {
	height: 620px;
	margin-bottom: 5em;
	img {
		position: absolute;
		z-index: 0;
		
		&.current {
			z-index: 1;
		}
	}
}

#contentarea {
	margin-top: 0 !important;
	margin-bottom: 2em;
}

#banner {
	background: $yellowbanner;
	
	&.collapsed {
		.filters {
			top: 0;
			
		}
	}
}


#team {
	margin-top: 17em;
}

#teammember {
	article {
		width: inherit;
	}
}

#content {
	padding-bottom: 0;
	
	.content {
		padding-bottom: 12em;
	}
}

@include at-breakpoint(0 3 320px) {
	#team {
		width: 100% !important;
		overflow: visible;
		margin-top: 0em;
	}
	
	#teammember {
		width: 100% !important;
		overflow: visible;
		margin-top: 46px;
		
		header {
/* 			display: none; */
			margin: 0;
			padding: 1em;
			
			.details {
				padding: 32px;
			}
		}
		
		article {
			width: 100%;
		}
		
		.images {
			height: auto;
			width: 100%;
			padding: 0;
			margin-bottom: 40px;
/* 			display: none; */
			
			img {
				margin: 0;
				position: relative;
			}
		}
	}
	
	/*
#memberdetails {
		.content {
			width: 10% !important;
			padding: 0;
			background: red;	
			display: none;
		}
	}
*/
	
	.content,
	.row,
	.detailscontainer,
	article,
	.container {
		width: 100% !important;
	}
	
	#teammember article {
		padding: 0 !important;
		margin: 0 !important;
	}
	
	#content {
		padding: 0 !important;
	}
	
	blockquote,
	p,
	aside {
		padding: 0 16px !important;
		margin: 0;
	}
	
	blockquote {
		margin-bottom: 16px !important;
	}
	aside {
		width: 100% !important;
		
		strong,
		span {
			margin: auto 16px;
		}
	}
	
	#contentarea {
		margin-top: 1em;
		margin-bottom: 1em;
		overflow: visible;
		width: 100% !important;
		
		
	}
	
	#footer {
		p {
			margin-left: 0;
		}
	}
}