@import 'compass/css3', 'animation';


.filters {
	padding: 2em 2em 2em 1em;
	width: ($font-size*24)+px;
	
	a {
		@include minion;
		color: $black;
		white-space: nowrap;
		font-size: (18/$font-size)+em;
		
		&:last-child {
			&:after {
				display: none;
			}
		}
		
		&.all,
		&.current,
		&:hover {
			color: $white;
		}
		
		&.all,
		&.current {
			&:hover {
				color: $black;
			}
		}
		
		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}
}

.records {
	padding: 0;
	width: 960px !important;
	max-width: 960px !important;
	margin-bottom: 6em;
	@include transition(height .5s);
	
	.entry {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 0em;
		width: 320px;
		height: 320px;
		float: left;
		
		&:hover {
			.label {
				background: rgba(0,0,0,0.5);
				height: 142px;
				
				span {
					top: 400px;
				}
				
				&:before {
					top: 1.5em;
				}
			}
			
			img {
				@include transform(scale(1.1));
			}
		}
	}
	
	img {
		position: relative;
		z-index: 0;
		@include transition(transform .3s);
	}
	
	.label {
		position: absolute;
		z-index: 1;
		bottom: 0px;
		background: rgba(0,0,0,0.2);
		width: 256px;
		padding: 1em 2em;
		min-height: 80px;
		
		&:before {
			position: absolute;
			display: block;
			left: 50%;
			top: 6em;
			margin-left: -95px;
			content: 'meet ' attr(data-name);
			padding: .8em 2em;
			font-weight: 500;
			z-index: 1;
			line-height: 1em;
			text-align: center;
			font-size: (22/$font-size)+em;
			//@include transition(top .2s);
			text-transform: lowercase;
			
			background: $white;
				color: $black;
		}
		
		span {
			position: relative;
			display: block;
			top: 0;
			//@include transition(top .2s);
		}
		
		strong,
		em {
			display: block;
		}
		
		em {
			@include minion;
		}
	}
}

.individualentry {
	margin-top: 56px;
		
	header {
		position: absolute;
		z-index: 3;
		top: 0;
		left: -2em;
		background: rgba(0,0,0,0.5);
		width: 960px;//800px;
		height: 235px;
		color: $white;
		margin: 0;
		
		.details {
			padding: 3.5em 5em 5em 5em;
			@include transform(translateZ(0));
		}
		
		.details {
			@include transition_delay(1s);
			@include transition(all .2s);
		}
		
		
		
		&.small {
			height: 78px;
			position: fixed;
			left: 50%;
			top: 102px;
			margin-left: -30em;
			
			.details {
				padding: 1em 5em;
			}
			h1 {
				font-size: (22/$font-size)+em;
				margin: 0;
			}
			span {
				font-size: 1em;
			}
			
			.photographer {
				display: none;
			}
		}
		
		
		&.no-images {
			position: relative;
/* 			margin-left: -2em; */
		}
		
		span {
			@include minion;
			font-size: (24/$font-size)+em;
		}
		
		.photographer {
			float: right;
			font-size: $font-size+px;
		}
	}
}

@include keyframes(heading) {
	0% {
		display: block;
		@include transform(scale(1));
	}
	
	50% {
		@include transform(scale(0));
	}
	
	51%, 100% {
		display: none;
	}
	
	
}

#banner {
	position: fixed;
	width: 100%;
	z-index: 10;
	height: 112px;
	@include transition(height .2s 0 easInOutCubic, padding .5s 0 ease);
	
	h1,strong {
		position: absolute;
		@include transition(top .2s 0 easeInOutSine);
	}
	
	h1 {
		top: 0;
		@extend .stripedMask;
	}
	
	strong {
		top: 0em;
	}
	
	&.collapsed,
	&.small {
		margin-bottom: 0;
		padding: 1em 0;
		position: fixed;
		z-index: 4;
		width: 100%;
		height: 24px;
		
		.filters {
			position: relative;
			right: auto;
			bottom: auto;
			text-align: center;
			padding: 0;
			width: auto;
		}
		
		h1, strong {
			top: -10em;
		}
	}
}

.arrow {
	display: block;
	content: '';
	width: 28px;
	height: 21px;
	position: absolute;
	margin-top: 1em;
	background-color: $blue;
}

#projectnav {
	position: fixed;
	width: 100%;
	height: 1px;
	display: none;
	z-index: 100;
	
	a {
		position: fixed;
		z-index: 10;
		top: 50%;
		display: block;
		background: $blue;
		color: $white;
		padding: (24/$font-size)+em 0 (24/$font-size)+em 1.2em;
		height: 48px;
		width: 3em;
		@include transition(width .2s);
		
		&:hover {
/* 			width: auto; */
			strong,em {
				/*
margin-left: 0;
				margin-right: 0;
*/
				@include opacity(1);
/* 				display: block; */
				/*
width: auto;
				height: auto;
*/
			}
			
			&:after,
			&:before {
				position: absolute;
			}
		}
		
		
		&.over {
			@include transition(width .2s .5s);
			strong,
			em {
				@include transition(opacity .5s .2s);
			}
		}
	}
	
	strong, em {
		display: inline-block;
		white-space: nowrap;
		@include opacity(0);
		@include transition(opacity .5s 0s);
	}
	
	strong {
		font-size: (22/$font-size)+em;
	}
	em {
		@include minion;
	}
	
	.next {
		right: 0;
		
		strong,
		em {
			padding-right: 70px;
			margin-right: -50px;
		}
		
		&:after {
			right: 1.2em;
			top: 1.5em;
			//margin-right: 1.2em;
			@extend .arrow;
			@include sprites-sprite(next_arrow);
		}
		&:before {
			display: none;
		}
		
		&:hover {
			&:after {
				top: (24/$font-size)+em;
			}
		}
	}
	
	.previous {
		left: 0;
		
		strong,
		em {
/* 			padding-right: 1.2em; */
			padding-right: 20px;
			padding-left: 50px;
/* 			margin-left: -50px; */
			float: right;
			text-align: left
		}
		
		&:before {
			margin-left: 0;
			margin-right: 1.2em;
			@extend .arrow;
			@include sprites-sprite(previous_arrow);
		}
		
		&:hover {
			&:before {
				left: 1.2em;
				top: (24/$font-size)+em;
			}
		}
	}
}