@import 'styles';

nav.filters {
	background: $blue;
	margin-left: -1em;
	margin-right: -1em;
	padding: 2em 2em 2em 1em;
	
	a {
		@include minion;
		color: $black;
		
		&.all,
		&:hover {
			color: $white;
		}
		
		&.all:hover {
			color: $black;
		}
		
		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}
}

#work {
	.work {
		position: relative;
		display: block;
		overflow: hidden;
		
		img {
			position: absolute;
			z-index: 0;
		}
		
		.label {
			position: absolute;
			z-index: 1;
			bottom: 0px;
			background: rgba(0,0,0,.5);
			width: 100%;
			padding: 2em;
			
			strong,
			span {
				display: block;
			}
			
			span {
				@include minion;
			}
		}
		
		@include at-breakpoint(0 3 320px) {
			height: 280px;
		}
	}
}


/* ***************
 * Project
 * *************** */
#project {
	article {
		position: relative;
	}
	
	h1 {
		font-size: (22/$font-size)+em;
		line-height: (30/22)+em;
	}
	.tagLine {
		@include minion;
		font-size: $font-size;
	}
	
	header {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		background: rgba(0,0,0,0.5);
		width: 100%;
		padding: 1em 1em 1em 1em;
		/*
margin: 0 -0 0 -1.5em;
		padding: 1em 0em 1em 2.5em;
*/
		margin: 0 -1em;
		color: $white;
		
		h1 {
			margin: 0;
			line-height: 1em;
			padding: 0 (40/22)+em;
		}
		
		.tagLine {
			display: block;
			padding: 0 (40/$font-size)+em;
		}
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.media {
		img {
			margin-bottom: 1.5em;
		}
	}
	
	blockquote {
		font-size: (24/$font-size)+em;
		position: relative;
		padding: 0;
		margin: .5em 0 0 0;
		font-weight: bold;
		font-style: italic;
		display: inline-block;
		
		&:before {
			content: '“';
			display: inline-block;
		}
		&:after {
			content: '”';
			display: inline-block;
			padding-right: (10/$font-size)+em;
		}
	}
	
	cite {
		font-weight: 500;
		font-style: normal;
	}
	
	.content {
		p {
			display: none;
		}
	}
	
	aside {
		strong {
			font-weight: normal;
			font-size: (18/$font-size)+em;
			color: $blue;
		}
		
		ul {
			margin: 1em 0 2em 0;
		}
		li {
			display: inline-block;
		}
		
		.services li {
			&:after {
				display: inline;
				content: ', ';
			}
			
			&:last-child:after {
				display: none;
			}
		}
		
		.awards {
			li {
				margin: 0 -4px 0 0;
				
				&:last-child a {
					margin-right: 0;
				}
			}
			
			a {
				display: block;
				margin-right: 2em;
			}
		}
	}
}

#articleLinks {
	margin: (40/$font-size)+em 0;

	a {
		@extend .link;
		color: $blue;
		border-color: $blue;
		padding: .625em inherit !important;
		font-weight: 500;
		width: 48%;
		font-style: normal;
		font-size: (20/$font-size)+em;
		float: left;
	}
	
	.fullstory {
		margin-right: 4%;
	}
	
	.website {
		@extend .external;
		color: $blue;
		border-color: $blue;
		background-color: $background;
		
		&:before {
			background-color: $background;
			@include sprites-sprite(external_arrow_blue);
		}
	}
}




@include at-breakpoint(0 3 320px) {
	#project {
		.content {
			p:first-child {
				display: block;
			}
		}
	}
}