@import 'styles', 'teamworkgrid';

.filters {
	position: absolute;
	right: 2em;
	bottom: 0em;
	padding-bottom: 0;
	width: 400px;
	
	strong {
		display: block;
		margin-bottom: 1em;
		font-weight: 500;
	}
}

#banner {
	background: $blue;
}

#work {
	margin-top: 17em;
	
	.label {
		&:before {
			content: 'see project';
		}
	}
}

.arrow {
	display: block;
	content: '';
	width: 28px;
	height: 21px;
	position: relative;
/* 	maritop: 50%; */
	margin-top: 1em;
	background-color: $blue;
}

#projectnav {
	position: fixed;
	width: 100%;
	height: 1px;
	display: none;
	z-index: 100;
	
	a {
		position: fixed;
		z-index: 10;
		top: 50%;
		display: block;
		background: $blue;
		color: $white;
		padding: (24/$font-size)+em 0 (24/$font-size)+em 1.2em;
		height: 48px;
		
		&:hover {
			strong,em {
				display: block;
			}
			
			&:after,
			&:before {
				position: absolute;
			}
		}
	}
	
	strong, em {
		display: none;
	}
	
	strong {
		font-size: (22/$font-size)+em;
	}
	em {
		@include minion;
	}
	
	.next {
		right: 0;
		
		strong,
		em {
			padding-right: 70px;
		}
		
		&:after {
			margin-right: 1.2em;
			@extend .arrow;
			@include sprites-sprite(next_arrow);
		}
		
		&:hover {
			&:after {
				right: 0;
				top: (24/$font-size)+em;
			}
		}
	}
	
	.previous {
		left: 0;
		
		strong,
		em {
			padding-right: 1.2em;
			padding-left: 50px;
		}
		
		&:before {
			margin-left: 0;
			margin-right: 1.2em;
			@extend .arrow;
			@include sprites-sprite(previous_arrow);
		}
		
		&:hover {
			&:before {
				left: 1.2em;
				top: (24/$font-size)+em;
			}
		}
	}
}


/* ***************
 * Project
 * *************** */
.individualentry {
	background: $lightgrey;
	
	.container {
		position: relative;
	}
	
	header {
		left: 0;
	}
	
	.tagLine {
		display: block;
		@include minion;
		font-size: $font-size;
/* 		padding: 0 (40/$font-size)+em; */
	}
	
	img {
		margin: 0 0 0 -1em;
	}
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.media {
		img {
			position: relative;
			z-index: 0;
			padding: 0;
			margin-bottom: 1.5em;
		}
	}
	
	blockquote {
		font-size: (48/$font-size)+em;
		line-height: (50/48)+em;
		position: relative;
		padding: 0;
		margin: 0;
		font-weight: bold;
		font-style: italic;
		display: inline;
		

		.label {
			position: absolute;
			z-index: 1;
			bottom: 0px;
			display: block;
			background: rgba(0,0,0,.5);
			width: 100%;
			padding: 1em 2em;
		}
		/*
&:before {
			content: '“';
			display: inline-block;
		}
*/
		&:after {
			content: '';
			display: inline-block;
			padding-right: (10/$font-size)+em;
		}
	}
	
	cite {
		font-weight: 500;
		font-style: normal;
		font-size: (24/$font-size)+em;
		white-space: nowrap;
	}
	
	.content {
		p {
			display: none;
		}
	}
	
	aside {
		strong {
			font-weight: 500;
			font-size: (18/$font-size)+em;
			color: $blue;
		}
		
		ul {
			margin: 1em 0 2em 0;
		}
		li {
			display: inline-block;
			white-space: nowrap;
		}
		
		.services li {
			@include minion;
			&:after {
				display: inline;
				content: ', ';
			}
			
			&:last-child:after {
				display: none;
			}
		}
		
		.awards {
			li {
				margin: 0 -4px 0 0;
				@include minion;
				
				&:last-child a {
					margin-right: 0;
				}
			}
			
			a {
				display: block;
				margin-right: 2em;
			}
		}
	}
}

#articleLinks {
	margin: (40/$font-size)+em 0;
	width: 50%;

	a {
		@extend .link;
		color: $blue;
		border-color: $blue;
		padding: .625em inherit !important;
		font-weight: 500;
		width: 48%;
		font-style: normal;
		font-size: (20/$font-size)+em !important;
		float: left;
	}
	
	.fullstory {
		margin-right: 4%;
	}
	
	.website {
		@extend .external;
		color: $blue;
		border-color: $blue;
		background-color: $background;
		
		&:before {
			background-color: $background;
			@include sprites-sprite(external_arrow_blue);
		}
	}
}

.individualentry {
	article {
		position: relative;
	}
	
	h1 {
		font-size: (48/$font-size)+em;
		line-height: 1em;
		margin: 0 0 (22/48)+em 0;
		padding: 0;
	}
	.tagLine {
		@include minion;
		font-size: (24/$font-size)+em;
	}
	
	
	
	
	
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.media {
		img {
			position: relative;
			z-index: 0;
			padding: 0;
			margin-bottom: 1.5em;
		}
	}
}

#media {
	img {
		margin-bottom: 3em;
		margin-left: -1em;
	}
}

#interestedin {
	margin-bottom: 6em;
	
	h2 {
		font-weight: 500;
		margin-top: 2.3em;
		margin-left: (32/24)+em;
		margin-bottom: 1em;
	}
	
	.label {
		
		&:before {
			content: 'see project';
		}
	}
}

@include at-breakpoint(0 3 320px) {
	#project {
		.content {
			p:first-child {
				display: block;
			}
		}
	}
	
	#work {
		
		.work {
/* 			width: 300px; */
			img {
				width: 100%;
			}
			.label {
				span {
					@include opacity(1);
				}
			}
		}
		.label {
			padding: 1em 2em;
		}
	}
}