@import 'styles';

nav.filters {
	background: $blue;
	margin-left: -1em;
	margin-right: -1em;
	padding: 2em 2em 2em 1em;
	
	a {
		@include minion;
		color: $black;
		
		&.all,
		&:hover {
			color: $white;
		}
		
		&.all:hover {
			color: $black;
		}
		
		&:after {
			margin-left: 10px;
			margin-right: 10px;
			content: '/';
			color: $black;
		}
	}
}

#work {
	.work {
		position: relative;
		display: block;
		overflow: hidden;
		margin-bottom: 1em;
		
		img {
			position: relative;
			z-index: 0;
			padding: 0;
		}
		
		.label {
			position: absolute;
			z-index: 1;
			bottom: 0px;
			display: block;
			background: rgba(0,0,0,.5);
			width: 100%;
			padding: 1em 2em;
			
			strong,
			span {
				display: block;
			}
			
			span {
				@include minion;
			}
		}
	}
}